@media screen and (min-width: 768px){
    .menu-mobie-app{
        display:none;
    }
    .nav-bars-btn{ 
       display: none;
        
    }
    .nav_input{
        display:none;
    }
}
@media screen and (max-width: 992px){
    .banner {
        padding-top: 40px;
    }
    .banner-menu {
        padding-top: 12px;
    }
    .banner-menu ul li {
        margin-left: 16px;
    }
}
@media screen and (max-width: 768px){
    .room-new-title a {
        padding: 4px 6px;
    }
    .banner-menu {
        display: none;
    }
    .nav-bars-btn{ 
        color: #fff;
        font-size: 30px;
        padding-top: 20px;
        padding-right: 10px;
        position: absolute;
        right: 10px;
        
    }
    .nav__overlay{
        position:fixed;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 99;
        display:none;
        animation : fadeIn linear 0.3s;
    }
    .menu-mobie-app{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background:#fff;
        width: 320px;
        max-width: 100%;
        z-index: 999;
        transform: translateX(100%);
        opacity: 0;
        transition : transform linear 0.3s, opacity linear 0.3s;
        padding:15px;
        ul{
            list-style: none;
            li{
                padding-top:10px;
                padding-bottom: 10px;
                a{
                    color:#333;
                    text-decoration: none;
                    font-size:18px;
                    span{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .nav_input{
        display:none;
    }
    .nav-btn-close{
        position:absolute;
        top:15px;
        right: 15px;
        font-size: 24px;
    }
    .nav_input:checked ~ .nav__overlay{
        display:block;
        
    }
    .nav_input:checked ~ .menu-mobie-app{
        transform: translateX(0);
        opacity: 1;
    }
    .room-new-content a {
        flex-wrap: wrap;
    }
    .room-new-content a .thumb {
        width: 100%;
    }
    .room-new-content a .info {
        width: 100%;
    }
    .room-new-title a {
        width: 123px;
    }
    .menu-top{
        display: none;
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}