<template>
    <section class="trend">
        <div class="container">
            <div class="row">
                <div class="trend-title col-md-12">
                    <h2>Phòng trọ thuộc các khu vực</h2>
                </div>
                <div class="col-md-3" v-for="(item,index) in  areaRoom" :key="index">
                    <a href="room/get-room-by-province/">    
                        <div class="trend-top">
                            <img :src="item.img" alt="">
                            <div class="trend-top-title">
                                <h3>{{item.title}}</h3>
                            </div>
                            
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name : 'AreaRoom',
        data(){
            return {
                areaRoom :[
                    {
                        id :1,
                        img:'images/trend.jpg',
                        title:'Phòng trọ Huế'
                    },
                    {
                        id :2,
                        img:'images/trend.jpg',
                        title:'Phòng trọ Đà Nẵng'
                    },
                    {
                        id :3,
                        img:'images/trend.jpg',
                        title:'Phòng trọ TP Hồ Chí Minh'
                    },
                    {
                        id :4,
                        img:'images/trend.jpg',
                        title:'Phòng trọ Hà Nội'
                    }
                ]
            }
        },
        created() {
            
        },
        methods:{
            
        }
    }
</script>

<style lang="scss" scoped>

</style>