<template>
    <div>
        <header-page></header-page>
       <section class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumbs-link">
                        <li><router-link to="/">Trang chủ</router-link></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container ">

        <div class="row">
            <div class="col-md-8">
                <div class="blog">
                    <div class="title">
                        <h3>Bài viết trong blog</h3>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div v-for="item in listPostUpdate" :key="item.id">
                                <a href="">
                                    <div class="col-md-12">
                                        <div class="content__box-post">
                                            <div class="content__box-post__image-post">
                                                <img :src="item.thumb" alt="">
                                            </div>
                                            <div class="content__box-post__title-post">
                                                <h4>{{item.title}}</h4>
                                                
                                                    
                                                
                                                <div class="content__box-post__info-post">
                                                    <p><i class="fas fa-user"></i></p>
                                                    <p><i class="far fa-clock"></i></p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog new-post">
                    <div class="new-post__title">
                        <h3>Bài viết được xem nhiều</h3>
                    </div>
                    <div class="new-post__box">
                        
                            <div class="new-post__box__mp" v-for="item in postsPopular" :key="item.id">
                                <div class="new-post__box__mp__thumb">
                                    <img :src="'uploads/images/'+item.thumb" alt="">
                                </div>
                                <div class="new-post__box__mp__title">
                                    <a href="">
                                        <h5>{{item.title}}</h5>
                                    </a>
                                </div>
                            </div>

                    </div>
                </div>        
            </div>
        </div>

    </div>
    </div>
</template>

<script>
    import {mapState,mapActions} from 'vuex';
    import HeaderPage from '../Header/HeaderPage';
    export default {
        name : 'blog',
        components : {
            'header-page' : HeaderPage
        },
        created(){
            this.fetchAllList();
            this.fetchListPostPopular();
        },
        computed:{
            ...mapState({
                posts: state => state.posts.listPosts,
                postsPopular: state => state.posts.listPostPopular
            }),
            listPostUpdate(){
                 return this.posts.map(element=>{
                    element.thumb = 'uploads/images/'+ element.thumb;
                    return element;
                })
            }
        },
        methods:{
            ...mapActions(['fetchAllList','fetchListPostPopular'])
        }
    }
</script>

<style lang="scss" scoped>

</style>