<template>
    <div class="loading" v-loading="loading" v-show="loading">

    </div>
</template>

<script>
    export default {
        name : "loading",
        props : {
            loading : {
                type : Boolean,
                required: true,
                default : false
            }
        },
        data(){
            return { 
                hello : ''
            }
        }
    }
</script>

<style lang="scss" scoped>
    .loading{
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: 1000;
    }
</style>