<template>
  <GmapMap
  :center="{lat:10.7340842, lng:106.7116815}"
  :zoom="14"
  map-type-id="terrain"
  style="width: 500px; height: 300px"
>
    <GmapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="true"
        :draggable="true"
        @click="center=m.position"
    />
</GmapMap>
</template>

<script>
import { gmapApi } from 'gmap-vue';
export default {
    data(){
        return{
            markers:[
                {position: {lat: 10.7340842,lng: 106.7116815}}
            ]
        }
    },
    mounted(){

    },
    computed: {
        // The below example is the same as writing
        // google() {
        //   return gmapApi();
        // },
        google: gmapApi,
    },
}
</script>

<style>

</style>