<template>
     <div class="room-post">
        <div class="room-post-title">
            <h3>Bài viết mới</h3>
            <a href="">Xem tất cả</a>
        </div>
            <a href="" v-for="(post,index) in newPostUpdate" :key="index">
                <div class="room-post-content">
                    <div class="room-post-content__post-image">
                        <img :src="post.thumb" alt="">
                    </div>
                    <div class="room-post-content__post-title">
                        <h5>{{post.title}}</h5>
                        <div class="room-post-content__post-title__info">
                            <p><font-awesome-icon icon="user" /></p>
                            
                        </div>
                    </div>
                </div>
            </a>
    </div>
</template>

<script> 
    import {fetchListPostPopular} from '../../api/post'
    import {mapActions,mapState} from 'vuex';

    export default {
        data: function(){
            return {
                newPost:[]
            }
        },
        created(){
            this.fetchListPostPopular();
            
        },
        methods:{
            ...mapActions(['fetchListPostPopular'])
        },
        computed:{
            ...mapState({
                posts : state => state.posts.listPostPopular
            }),
            newPostUpdate(){
                 return this.posts.map(element=>{
                    element.thumb = 'uploads/images/'+ element.thumb;
                    return element;
                })
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>