<template>
    <div>
        <app-loading :loading="loading"></app-loading>
        <header-page></header-page>
        <section class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumbs-link">
                            <!-- <li><a href="{{ url('/') }}">Trang chủ</a></li> -->
                            <li><a href="">Phòng trọ</a></li>
                            <li>{{ room.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="room-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="room-detail-df">
                            <!-- @if (\Session::has('success'))
                        <div class="alert alert-warning">
                            <ul>
                                <li>{!! \Session::get('success') !!}</li>
                            </ul>
                        </div>
                    @endif -->
                            <div class="room-detail-df-title">
                                <div class="room-detail-df-title__name">
                                    <h4>{{ room.title }}</h4>
                                </div>
                                <div class="room-detail-df-title__view">
                                    <p>
                                        <strong>{{ room.count_view }}</strong>
                                        lượt xem , Ngày đăng :
                                        <strong>{{ room.created_at }}</strong>
                                    </p>
                                    <p style="text-align: right">
                                        <button
                                            id="direc"
                                            class="btn btn-primary"
                                            @click="toggle = !toggle"
                                        >
                                            Xem đường đi
                                        </button>
                                    </p>
                                </div>
                            </div>

                            <div id="room-detail-df-map" v-if="toggle">
                                
                                <gmap-map
                                    :center="{lat: JSON.parse(room.latlng)[0],lng:JSON.parse(room.latlng)[1]}"
                                    :zoom="14"
                                    style="width: 100%; height: 400px"
                                >
                                    <gmap-marker
                                        :position="{lat: JSON.parse(room.latlng)[0],lng:JSON.parse(room.latlng)[1]}"
                                        @click="openWindow"
                                    ></gmap-marker>
                                    <gmap-info-window
                                        @closeclick="window_open = false"
                                        :opened="true"
                                        :position="{lat: JSON.parse(room.latlng)[0],lng:JSON.parse(room.latlng)[1]}"
                                        :options="{
                                            pixelOffset: {
                                                width: 0,
                                                height: -35,
                                            },
                                        }"
                                    >
                                        {{ room.address }}
                                    </gmap-info-window>
                                </gmap-map>
                            </div>
                            <div id="room-detail-df-map-direc" v-else></div>
                            <div class="room-detail-df-info">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Thông tin phòng</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p>Gía phòng</p>
                                        <p>
                                            {{ numberFormat(room.price) }} đồng
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>Diện tích</p>
                                        <p>{{ room.area }} mét vuông</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>Đặt cọc</p>
                                        <p>0 đồng</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>Phòng trọ cho</p>
                                        <p>
                                            {{
                                                room.accept == 1
                                                    ? "Nam"
                                                    : room.accept == 2
                                                    ? "Nữ"
                                                    : "Nam và Nữ"
                                            }}
                                        </p>
                                    </div>

                                    <div class="col-md-3">
                                        <p>Wifi</p>
                                        <p>50,000 đồng</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>Trạng thái</p>
                                        <p>
                                            {{
                                                room.public == 1
                                                    ? "Còn phòng"
                                                    : ""
                                            }}
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>Địa chỉ</p>
                                        <!-- <p>{{room.address+", ".room.ward.name+", ".room.ward.district.name+", ".room.ward.district.province2.name}}</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="room-detail-df-utility">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Tiện ích</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                <div class="col-md-4" v-for="(item,index) in utility" :key="index">
                                    <p><font-awesome-icon :icon="item.icon" /> {{item.name}}</p>
                                </div>
                                </div>
                            </div>
                            <div class="room-detail-df-description">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Mô tả thêm</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ room.description }}
                                    </div>
                                </div>
                            </div>
                            <div class="room-detail-df-image">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Hình ảnh phòng trọ</h4>
                                    </div>
                                </div>
                                <div
                                    id="carousel"
                                    class="carousel slide"
                                    data-ride="carousel"
                                >
                                    <div class="carousel-inner">
                           
                                    
                                    <div class="item " v-for="(item,index) in image" :key="index" :data-thumb="index">
                                        <img :src="'../uploads/images/'+item">
                                    </div>
                                
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div
                                        id="thumbcarousel"
                                        class="carousel slide"
                                        data-interval="false"
                                    >
                                        <div class="carousel-inner">
                                            <!-- <div class="item active">
                                    @foreach ($image as $key => $item)
                                        @if ($key < 4)
                                            <div data-target="#carousel" data-slide-to="{{$key}}" class="thumb"><img src="uploads/images/{{$item}}"></div>
                                        @endif
                                    @endforeach
                                </div>
                                @if (count($image) > 4)
                                    <div class="item">
                                        @foreach ($image as $key => $item)
                                            @if ($key >= 4)
                                                <div data-target="#carousel" data-slide-to="{{$key}}" class="thumb"><img src="uploads/images/{{$item}}"></div>
                                            @endif
                                        @endforeach
                                    </div>
                                @endif -->
                                        </div>
                                        <!-- /carousel-inner -->
                                        <a
                                            class="left carousel-control"
                                            href="#thumbcarousel"
                                            role="button"
                                            data-slide="prev"
                                        >
                                            <span
                                                class="glyphicon glyphicon-chevron-left"
                                            ></span>
                                        </a>
                                        <a
                                            class="right carousel-control"
                                            href="#thumbcarousel"
                                            role="button"
                                            data-slide="next"
                                        >
                                            <span
                                                class="glyphicon glyphicon-chevron-right"
                                            ></span>
                                        </a>
                                    </div>
                                    <!-- /thumbcarousel -->
                                </div>
                                <!-- /clearfix -->
                            </div>
                            <div class="room-detail-df-comment">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Bình luận bài đăng</h4>
                                    </div>
                                </div>
                                <div class="row bootstrap snippets">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="comment-wrapper">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    Thông tin bình luận
                                                </div>
                                                <!-- <div class="panel-body">
                                            @if (Auth::check())
                                                @if ($errors->any())
                                                    <div class="alert alert-danger">
                                                        <ul>
                                                            @foreach ($errors->all() as $error)
                                                                <li>{{ $error }}</li>
                                                            @endforeach
                                                        </ul>
                                                    </div>
                                                @endif
                                                <form action="room/comment-room/{{room.id}}" method="post">
                                                    @csrf
                                                    <div class="bown">
                                                        <label for="">Số sao đánh giá:</label>
                                                    <div class="rating">
                                                        <label>
                                                            <input type="radio" name="star" value="1" />
                                                            <span class="icon">★</span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="star" value="2" />
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="star" value="3" />
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>   
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="star" value="4" />
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="star" value="5" />
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                        </label>
                                                    </div>
                                                    </div>
                                                    
                                                    <textarea class="form-control" placeholder="write a comment..." rows="3" name="content"></textarea>
                                                    <br>
                                                    <input type="submit" value="Bình luận" class="btn btn-info pull-right">
                                                </form>
                                            @else
                                                <div class="alert alert-warning">
                                                    Vui lòng <a href="{{ route('user.getLogin') }}?param=detail&id={{room.id}}"><strong>đăng nhập</strong></a> để thực hiện chức năng này
                                                </div>
                                                <p></p>
                                            @endif
                                            
                                            <div class="clearfix"></div>
                                            <hr>
                                            <ul class="media-list">
                                                @foreach ($comment as $item)
                                                    <li class="media">
                                                        <a href="#" class="pull-left">
                                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                                        </a>
                                                        <div class="media-body">
                                                            <span class="text-muted pull-right">
                                                                <small class="text-muted">{{$item['date']}}</small>
                                                            </span>
                                                            <strong class="text-success">{{$item->user->name}}</strong>
                                                            <span>
                                                                @if ($item->star > 0)
                                                                    Đánh giá
                                                                    @for ($i = 1; $i <= $item->star; $i++)
                                                                        <span class="fa fa-star checked"></span>
                                                                    @endfor
                                                                @endif
                                                               
                                                            </span>
                                                            <p>
                                                                {{$item->content}}
                                                            </p>
                                                        </div>
                                                    </li>
                                                @endforeach
                                            </ul>
                                        </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="room-detail-us">
                            <div class="room-detail-us-user">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="images/user.png" alt="" />
                                    </div>
                                    <div class="col-md-9">
                                        <h5>Thông tin người đăng</h5>
                                        <p>{{ author.name }}</p>
                                        <!-- <p>Ngày tham gia : {{date('d-m-Y', strtotime(room.user.created_at))}}</p> -->
                                    </div>
                                    <div class="col-md-12">
                                        <!-- <a class="btn btn-primary" href="callto:09123123123">{{room.user.phone}}</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row bootstrap snippets room-detail-relate">
                            <div class="col-md-12 col-sm-12">
                                <div class="comment-wrapper">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Các phòng trọ trong khu vực
                                        </div>
                                        <div class="panel-body">
                                            <!-- @foreach ($roomRelate as $item)
                                        <a href="room/detail/{{$item->id}}">
                                            <div class="room-detail-relate-box">
                                                <div class="room-detail-relate-box-image">
                                                    <img src="uploads/images/{{json_decode($item->image,true)[0]}}" alt="">
                                                </div>
                                                <h5>{{$item->title}}</h5>
                                            </div>
                                        </a>
                                        
                                    @endforeach -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row bootstrap snippets room-detail-report">
                            <div class="col-md-12 col-sm-12">
                                <div class="comment-wrapper">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Báo cáo bài đăng
                                        </div>
                                        <div class="panel-body">
                                            <button
                                                type="button"
                                                class="btn btn-warning"
                                                data-toggle="modal"
                                                data-target="#exampleModal"
                                            >
                                                Báo cáo bài đăng
                                            </button>
                                            <!-- data-id="{{room.id}}" -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Thông tin báo cáo
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                            action="room/report-room"
                            method="POST"
                            id="target"
                        >
                            <!-- @csrf -->
                            <input
                                type="hidden"
                                class="form-control"
                                id="recipient-name"
                                name="id"
                            />
                            <div class="form-group">
                                <label for="message-text" class="col-form-label"
                                    >Nội dung báo cáo:</label
                                >
                                <textarea
                                    class="form-control"
                                    id="message-text"
                                    required=""
                                    name="content"
                                    oninvalid="this.setCustomValidity('Vui lòng nhập thông tin phản hồi')"
                                    oninput="setCustomValidity('')"
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Báo cáo
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Đóng
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Loading from "../Page/Loading";
import * as VueGoogleMaps from 'vue2-google-maps'  
import Header from '../Header/HeaderPage'
export default {
    data() {
        return {
            center: {
                lat: 10.738216284809717,
                lng: 106.72180952124023,
            },
            marker: {
                lat: 10.738216284809717,
                lng: 106.72180952124023,
            },
            info_marker: null,
            infowindow: {
                lat: 10.738216284809717,
                lng: 106.72180952124023,
            },
            window_open: false,
            coords: {
                lat: -7.824374,
                lng: 110.262371,
            },
            destination: {
                lat: -7.925665,
                lng: 110.298115,
            },
            toggle : true
            //loading : true
        };
    },
    components: {
        "app-loading": Loading,
        "header-page" : Header
    },
    created() {
        console.log(this.room, " after created");
        this.getDetail(this.$route.params.id);   
        this.data = this.room.latlng;
    },
    mounted(){
        console.log(this.room, " after mounted");
    },
    computed: {
        ...mapState({
            room: (state) => state.rooms.room,
            author: (state) => state.rooms.author,
            loading: (state) => state.loadingPage.loading,
            image : (state) => state.rooms.image,
            utility : (state) => state.rooms.utility
        }),
    },
    methods: {
        ...mapActions(["getDetail"]),

        numberFormat(num) {
            let price = new Intl.NumberFormat("ja-JP", {
                style: "currency",
                currency: "JPY",
            }).format(num);
            price = price.replace("￥", "");
            return price;
        },
        openWindow() {
            this.window_open = true;
        }
    },
};
</script>

<style>
</style>