<template>
    <section class="room">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="room-new">
                        <div class="room-new-title">
                            <h3>Phòng trọ mới</h3>
                            <a href="room/filter">Xem tất cả </a>
                        </div>
                       
                            <div class="room-new-content" v-for="(room,index) in filterRoom" :key="index">
                                <router-link :to="'/room/'+room.id" @click.native="scrollToTop">
                 
                                   <div>
                                        <div class="thumb">
                                            <img :src="room.thumb" alt="">
                                        </div>
                                        <div class="info">
                                            <h3>{{room.title}}</h3>
                                            <div class="info-main">
                                                <div class="info-main-text">
                                                    <p><font-awesome-icon icon="home" /><span>Phòng trọ</span></p>
                                                    <p>
                                                        <font-awesome-icon icon="user-friends" /><span>{{room.accept}}</span>
                                                        <font-awesome-icon icon="ruler" /><span>{{room.area}} m2</span>
                                                    </p>
                                                    <p><font-awesome-icon icon="map-marked-alt" /><span>{{room.address +', '+room.ward.name+', '+room.ward.district.name}}</span></p>
                                                </div>
                                                <div class="info-main-price">
                                                    <p> {{room.price}}Đ</p>
                                                    <p>Phòng/Tháng</p>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                                </router-link>     
                                    
                                
                            </div>
                      
                        <div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <post-new></post-new>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import PostNew from './PostNew';
    export default {
        name : 'RoomLastest',
        props : ['roomLastest'],
        data(){
            return { 
                do : this.roomLastest
            }
        },
        components:{
            'post-new' : PostNew
        },
        created(){
            console.log(this.filterRoom);
            this.show();
        },
        mounted(){
        
        },
        computed:{
            filterRoom(){
                return this.roomLastest.map(element=>{
                    element.thumb =  'uploads/images/'+JSON.parse(element.image)[0]
                    return element;
                })
            }
        },
        methods:{
            show(){
                
            },
            scrollToTop() {
                window.scrollTo(0,0);
           }
        }
    }
</script>

<style lang="scss" scoped>

</style>