<template>
    <section class="room">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="room-five_start">
                        <div class="room-new-title">
                            <h3>Phòng trọ được đánh giá tốt</h3>
                            <a href="room/filter">Xem tất cả</a>
                        </div>
                     
                            <div class="room-new-content" v-for="(room,index) in roomTop" :key="index">
                                <a href="">
                                    <div class="thumb">
                                        <img :src="'uploads/images/'+JSON.parse(room.image)[0]" alt="">
                                    </div>
                                    <div class="info">
                                        <h3>{{room.title}}</h3>
                                        <div class="info-main">
                                            <div class="info-main-text">
                                                <p><i class="fas fa-home"></i><span>Phòng trọ</span></p>
                                                <p>
                                                    <i class="fas fa-user-friends"></i><span></span>
                                                    <i class="fas fa-ruler"></i><span>{{room.price}} m2</span>
                                                </p>
                                                <p><i class="fas fa-map-marker-alt"></i><span></span></p>
                                            </div>
                                            <div class="info-main-price">
                                                <p>{{room.price}}Đ</p>
                                                <p>Phòng/Tháng</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                       
                        <div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name : 'RoomTop',
        props:['roomTop'],
        created(){

        },
        computed:{
            filterRoom(){
                return this.roomTop.map(element=>{
                    element.image =  JSON.parse(element.image)
                    element.thumb = 'uploads/images/'+ JSON.parse(element.image)[0];
                    return element;
                })
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>