<template>
    <div>
        <p>123</p>

        <HeaderPage></HeaderPage>
        <div>
            <h2>Search and add a pin</h2>
            <label>
                <GmapAutocomplete
                    @place_changed="setPlace"
                    :options="{
                        fields: [
                            'geometry',
                            'formatted_address',
                            'address_components',
                        ],
                    }"
                >
                </GmapAutocomplete>
                <button @click="addMarker">Add</button>
            </label>
            <br />
        </div>
        <br />
        <input type="range" :min="1000" :max="5000" step="1" v-model="radius" />
        <gmap-map
            :center="center"
            :zoom="14"
            style="width: 100%; height: 400px"
        >
            <!-- :options="{fillColor:'#FF0000',fillOpacity:1.0}" -->
            <GmapCircle
                ref="circleRef"
                :center="marker"
                :radius="parseInt(radius)"
                :visible="true"
                :options="{ strokeColor: '#FFFFFF' }"
            ></GmapCircle>
            <gmap-marker
                :draggable="true"
                v-for="(m, index) in markers"
                :key="index"
                :position="m.position"
                @click="center = m.position"
                @drag="updateCoordinates"
            ></gmap-marker>
        </gmap-map>
    </div>
</template>

<script>
import HeaderPage from '../Header/HeaderPage';
export default {
    name: "op",
    data() {
        return {
            //mặc định là Montreal
            center: { lat: 0, lng: 0 },
            markers: [],
            radius: 1000,
            places: [],
            currentPlace: null,
            marker: { lat: 0, lng: 0 },
        };
    },
    comments: {
        HeaderPage
    },
    mounted() {
        this.geolocate();
    },
    created() {
        this.drawMarker();
    },
    methods: {
        // nhận địa điểm thông qua autocomplete component
        setPlace(place) {
            this.currentPlace = place;
            this.addMarker();
        },
        addMarker() {
            if (this.currentPlace) {
                const marker = {
                    lat: this.currentPlace.geometry.location.lat(),
                    lng: this.currentPlace.geometry.location.lng(),
                };
                this.markers.push({ position: marker });
                this.places.push(this.currentPlace);
                this.center = marker;
                this.currentPlace = null;
            }
        },
        drawMarker(pos) {
            this.markers.push({ position: this.center });
        },
        geolocate: function () {
            navigator.geolocation.getCurrentPosition((position) => {
                this.markers.push({
                    position: {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    },
                });
                this.center = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                };
                this.marker = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                };
            });
        },
        checkMarkerExit(item, markers) {
            const find = markers.findIndex((element, index) => {
                if (element.position.lat === item.lat) return index;
            });

            return find;
        },
        updateCoordinates(location) {
            var test = {
                lat: 10.738216284809717,
                lng: 106.72180952124023,
            };
            var coordinates = {
                lat: location.latLng.lat(),
                lng: location.latLng.lng(),
            };
            this.marker = coordinates;
            if (this.getDistance(coordinates, test) < this.radius) {
                var t = { position: test };
                var check = this.checkMarkerExit(test, this.markers);
                if (check < 0) {
                    this.markers.push(t);
                }
            }

            for (var i = 0; i < this.markers.length; i++) {
                let km = this.getDistance(
                    coordinates,
                    this.markers[i].position
                );
                if (km > this.radius) {
                    this.markers.splice(i, 1);
                }
            }
        },
        rad(x) {
            return (x * Math.PI) / 180;
        },
        drawMarkerInsideCircle(markers) {},
        getDistance(p1, p2) {
            var R = 6378137; // Earth’s mean radius in meter
            var dLat = this.rad(p2.lat - p1.lat);
            var dLong = this.rad(p2.lng - p1.lng);
            var a =
                Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(this.rad(p1.lat)) *
                    Math.cos(this.rad(p2.lat)) *
                    Math.sin(dLong / 2) *
                    Math.sin(dLong / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = R * c;
            return d; // returns the distance in meter
        },
    },
};
</script>

<style lang="scss" scoped>
</style>