
.blog{
    background-color: #fff;
    padding:15px;
    .title{
        text-align: center;
        h3{
            font-family: 'Open Sans',sans-serif;
            font-size: 30px;
        }
    }
    .content{
        &__box-post{
            border: 1px solid #ddd;
            box-shadow: 0px 0px 3px #ddd, 0 10px 20px #ccc;
            border-radius: 10px;
            padding:10px;
            margin-bottom: 15px;
            display: flex;
            &__image-post{
                flex: 1;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &__title-post{
                flex: 2;
                padding-left: 15px;
                p{
                    color:#333;
                }
            }
            &__info-post{
                color:#8c8888;
                display: flex;
                justify-content: space-between;
                p{
                    i{
                        margin-right: 8px;
                    }
                }
            }
        }
        
    }
}
.content-post{
    background-color: #fff;
    padding:15px;
    font-family: 'Open Sans',sans-serif;
    &__content{
        img{
            width: 100%;
        }
    }
    &__info{
        display: flex;
        text-align: right;
        flex-direction: column-reverse;
    }
}
.new-post{
    &__title{
        h3{
            margin: 0;
            font-family: 'Open Sans',sans-serif;
            font-size: 17px;
            border-bottom: 2px solid #ddd;
        }
    }
    &__box{
        font-family: 'Open Sans',sans-serif;
        &__mp{
            display: flex;
            margin-top: 10px;
            &__thumb{
                flex: 1;
                img{
                    width: 100%;
                }
            }
            &__title{
                flex: 2;
                padding-left: 15px;
                h5{
                    margin-top: 0px;
                }
                a{
                    text-decoration: none;
                }
                a:hover{
                    text-decoration: none;
                }
            }
        }
    }
}