.manager-room{
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
    .container {
        padding: 2rem 0rem;
    }
    .table{
        background-color: #fff;
    }  
    h4 {
        margin: 2rem 0rem 1rem;
    }
    
    .table-image {
        td, th {
            vertical-align: middle;
        }
    }
    .avatar-user img{
        width: 200px;
        height: auto;
    }
    .user-info{
        display: flex;
        margin-bottom: 10px;
        p{
            flex:1;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: bold;
        }
        label{
            min-width: 120px;
        }
    }
    .options{
        position: relative;
        &__user{
            position: absolute;
            right: 0;
        }
    }

}
.modal-dialog{
    .modal-footer{
        display: flex;
        justify-content: flex-end;
        #confirm{
            margin-right: 10px;
        }
    }
}