footer{
    background: #003352 url('../images/footer-bg.png');
    background-size: cover;
    text-align: center;
    padding: {
        top: 20px;
        bottom:20px
    }
    // position: absolute;
    // bottom: 0;
    width: 100%;
    font: {
        family: "Open Sans",sans-serif;
    }
    #register{
        position: relative;

        h5{
            text-align: left;
            font: {
                size: 16px;
            }
        }
        input[type=text]{
            height: 40px;
            width: 100%;
            border-radius: 50px;
            border: 1px solid #ddd;
            padding-left: 10px;
        }
        input[type=submit]{
            position: absolute;
            height: 40px;
            width: 80px;
            color :#fff;
            right: 0px;
            bottom: 0px;
            border-radius: 50px;
            border:none;
            background-color: #2BAE66FF;
        }
    }
}