<template>
    
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <div class="banner-logo">
                        
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="banner-menu">
                        <ul>
                            <li><router-link to="/">Trang chủ</router-link></li>
                            <li>
                                <router-link to="/find-room-around">Tìm trọ quanh đây</router-link>
                            </li>
                            <li>
                                <router-link to="/blog">Blog</router-link>
                            </li>
                            <li><a href="">Đăng nhập</a></li>
                            <li><a href="">Đăng ký</a></li>
                        
                        </ul>
                    </div>
                    <label class="nav-bars-btn" for="nav-mobile-input">
                        <i class="fas fa-bars"></i>
                    </label>
    
                    <input type="checkbox" name="" class="nav_input" id="nav-mobile-input" >
                
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-search">
                        <p>Website tìm kiếm nhà trọ miễn phí cho sinh viên</p>
                        <div class="banner-search-form">
                            <form action="" method="GET">
                                <input type="text" placeholder="Nhập từ khóa tìm kiếm" name="key">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    export default {
        name : 'Banner'
    }
</script>

<style lang="scss" scoped>

</style>