<template>
    <header>
    <div class="top">
        <div class="container">
            <div class="row">
                
                <div class="col-md-3 col-sm-3 col-xs-3 top-ref">
                    <a href="/room/dangphong">
                        <i class="fas fa-plus-circle"></i>
                        <span>Đăng phòng trọ</span>
                    </a>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="menu-top">
                        <ul>
                            <li><router-link to="/">Trang chủ</router-link></li>
                            <li><a href="room/map-room">Tìm trọ quanh đây</a></li>
                            <li><a href="">Blog</a></li>

                           
                        </ul>
                    </div>
                    <label class="nav-bars-btn" for="nav-mobile-input" style="padding-top:2px">
                        <i class="fas fa-bars"></i>
                    </label>
                    <input type="checkbox" name="" class="nav_input" id="nav-mobile-input" >
                    <label class="nav__overlay" for="nav-mobile-input">
    
                    </label>
                    <div class="menu-mobie-app">
                        <label class="nav-btn-close" for="nav-mobile-input" >
                            <i class="fas fa-times"></i>
                        </label>
                        <ul>
                            <li><router-link to="/">Trang chủ</router-link></li>
                            <li><a href="/room/map-room"><span><i class="fas fa-map-signs"></i></span>Tìm trọ quanh đây</a></li>
                            <li><a href=""><span><i class="fas fa-blog"></i></span>Blog</a></li>
                            
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="">
                        <img src="" alt="">
                    </a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 menu-mobile-form">
                    <form action="" method="GET">
                        <input type="text" placeholder="Nhập từ khóa để tìm kiếm" name="key">
                        <button type="submit"><font-awesome-icon icon="search" /></button>
                    </form>
                </div>
                
                <div class="col-md-4"></div>
            </div>
        </div>
   </div>
</header>
</template>

<script>
    export default {
        name: 'HeaderPage'
    }
</script>

<style lang="scss" scoped>

</style>