<template>
    <header>
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 top-ref">
                        <a href="/room/dangphong">
                            <i class="fas fa-plus-circle"></i>
                            <span>Đăng phòng trọ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <app-banner></app-banner>
    </header>
</template>

<script>
import Banner from './Banner';
import { Button, Select } from 'element-ui'
export default {
    name : 'Header',
    setup () {
        return {}
    },
    components : {
        'app-banner' : Banner
    }
}
</script>

<style lang="scss" scoped>

</style>