@import './menu/menu.scss';
@import './menu/breadcrumb.scss';
@import './header/header.scss';
@import './header/banner.scss';
@import './main/trend.scss';
@import './main/room.scss';
@import './footer/footer.scss';
@import './page/update.scss';
@import './filter/filter-room.scss';
@import './page/manager.scss';
@import './page/edit-room.scss';
@import './page/post.scss';
@import './page/blog.scss';
@import './page/province.scss';
@import './responsive/responsive.scss';

#wrapper{
    background-color: #F6F5F2;
    padding-bottom: 20px;
    padding-top: 20px;
}
#room-detail-df-map,#room-detail-df-map-direc{
    width: 100%;
    height: 500px;
}
#room-detail-df-map-direc{
    display: none;
}
.room-new-content:last-child {
    border-bottom: none;
}
.alert{
    ul{
        li{
            list-style: none;
        }
    }
}
.title h3{
    margin-top: 0;
}
#dangki{
    a{
        background-color: #fff !important;
        width: 100%;
        button{
            width: 100%;
        }
        padding:0;
    }
}
.heading{
    display: flex;
    justify-content: space-between;
}
#info-user{
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 15px;
}
footer{
  
}
.trend-top img {
    height: 100%;
}

