@charset "UTF-8";
.menu {
  padding-top: 45px;
  padding-bottom: 5px;
}

.menu-top ul {
  padding-top: 8px;
  padding-bottom: 8px;
}
.menu-top ul li {
  list-style: none;
  display: inline-block;
}
.menu-top ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-right: 10px;
}

.breadcrumbs-link {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.breadcrumbs ul li {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
}
.breadcrumbs ul li:after {
  content: "/\A0";
  padding: 0 5px;
  color: #ccc;
}
.breadcrumbs ul li:last-child:after {
  content: "/\A0";
  padding: 0 8px;
  color: #fff;
}

header .top {
  background-color: #20274d;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .top-ref {
  align-items: center;
  line-height: 40px;
}
header .top-ref a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
header .top-ref a:hover {
  color: #fff;
  text-decoration: none;
}
header .menu-mobile {
  background-color: #fff;
  position: fixed;
  top: 40px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .menu-mobile-form input[type=text] {
  position: relative;
  border: 1px solid #eee;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  height: 50px;
  border-radius: 50px;
  width: 100%;
}
header .menu-mobile-form input[type=text]:focus {
  border: none;
  outline: none;
}
header .menu-mobile-form button {
  position: absolute;
  right: 18px;
  height: 45px;
  border-radius: 50px;
  width: 45px;
  border: none;
  bottom: 2px;
  background-color: #4877F8;
}
header .menu-mobile-form button .fa-search {
  color: #fff;
  font-size: 18px;
}
header .mobie {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

.banner {
  background-image: url("../images/banner.png");
  background-size: cover;
  padding-bottom: 10%;
  padding-top: 3%;
}
.banner-menu {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.banner-menu a {
  text-decoration: none;
  color: #fff;
}
.banner-menu a:hover {
  text-decoration: none;
  color: #fff;
}
.banner-menu ul {
  display: flex;
  justify-content: flex-end;
}
.banner-menu ul li {
  display: inline-block;
  line-height: 100px;
  margin-left: 20px;
}
.banner-menu ul li a {
  text-decoration: none;
}
.banner-menu ul li a:hover {
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
.banner-menu .sub-menu {
  display: none;
}
.banner-search {
  padding-top: 50px;
}
.banner-search p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
.banner-search-form input[type=text] {
  position: relative;
  border: none;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  height: 50px;
  border-radius: 50px;
  width: 100%;
}
.banner-search-form input[type=text]:focus {
  border: none;
  outline: none;
}
.banner-search-form button {
  position: absolute;
  right: 18px;
  height: 45px;
  border-radius: 50px;
  width: 45px;
  border: none;
  bottom: 2px;
  background-color: #4877F8;
}
.banner-search-form button .fa-search {
  color: #fff;
  font-size: 18px;
}

@-webkit-keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.trend {
  margin-bottom: 30px;
}
.trend-title {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
.trend-top {
  height: 170px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.trend-top img {
  width: 100%;
}
.trend-top-title {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  color: #fff;
}
.trend-top-title h3 {
  font-size: 19px;
  font-weight: 500;
}

.room-five_start {
  background-color: #fff;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.room-new {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.room-new-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
.room-new-title a {
  height: 32px;
  padding: 4px 12px;
  border: 1px solid #4877F8;
  border-radius: 16px;
  text-decoration: none;
  color: #4877F8;
}
.room-new-title a:hover {
  text-decoration: none;
}
.room-new-title h3 {
  margin: 0px;
}
.room-new-content {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CDCDCD;
}
.room-new-content:nth-child(6) {
  border-bottom: none;
}
.room-new-content a {
  display: flex;
  text-decoration: none;
}
.room-new-content a:hover {
  text-decoration: none;
}
.room-new-content a .thumb {
  width: 30%;
}
.room-new-content a .thumb img {
  width: 100%;
  height: 150px;
}
.room-new-content a .info {
  width: 70%;
  padding-left: 10px;
}
.room-new-content a .info h3 {
  margin: 0px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-bottom: 5px;
}
.room-new-content a .info-main {
  display: flex;
  justify-content: space-between;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}
.room-new-content a .info-main-text {
  line-height: 30px;
  font-size: 15px;
}
.room-new-content a .info-main-text span {
  padding-left: 8px;
}
.room-new-content a .info-main-text .fa-ruler {
  margin-left: 20px;
}
.room-new-content a .info-main-price {
  padding-top: 10px;
  text-align: center;
}
.room-new-content a .info-main-price p:first-child {
  color: red;
  font-weight: bold;
  font-size: 24px;
}
.room-post {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.room-post a {
  text-decoration: none;
  color: #333;
}
.room-post a:hover {
  text-decoration: none;
}
.room-post-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
}
.room-post-title a {
  height: 32px;
  padding: 4px 12px;
  border: 1px solid #4877F8;
  border-radius: 16px;
  text-decoration: none;
  color: #4877F8;
}
.room-post-title a:hover {
  text-decoration: none;
}
.room-post-title h3 {
  margin: 0px;
}
.room-post-content {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  border-bottom: 1px solid #CDCDCD;
}
.room-post-content:nth-child(5) {
  border-bottom: none;
}
.room-post-content__post-image {
  flex: 1;
}
.room-post-content__post-image img {
  width: 100%;
}
.room-post-content__post-title {
  font-family: "Open Sans", sans-serif;
  flex: 2;
  padding-left: 10px;
}
.room-post-content__post-title h5 {
  margin-top: 0;
}
.room-post-content__post-title__info {
  display: flex;
  justify-content: space-between;
}
.room-post-content__post-title__info i {
  margin-right: 5px;
}
.room-post-content-user {
  display: flex;
}
.room-post-content-user img {
  border-radius: 50px;
  border: 1px solid #eee;
}
.room-post-content-user h5 {
  padding-left: 30px;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.room-post-content-nd {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.room-detail-report {
  margin-top: 10px;
}
.room-detail-relate {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}
.room-detail-relate .comment-wrapper a {
  text-decoration: none;
  color: #333;
  line-height: 20px;
}
.room-detail-relate .comment-wrapper a:hover {
  text-decoration: none;
}
.room-detail-relate-box {
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
.room-detail-relate-box h5 {
  margin: 0;
}
.room-detail-relate-box-image {
  margin-bottom: 5px;
}
.room-detail-relate-box-image img {
  width: 100%;
  height: 150px;
}
.room-detail-df {
  background-color: #fff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.room-detail-df-comment h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 15px;
  background-color: #F6F7F9;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.room-detail-df-comment h4 i {
  padding-right: 10px;
}
.room-detail-df-comment .comment-wrapper {
  margin-right: 10px;
}
.room-detail-df-comment .comment-wrapper .checked {
  color: orange;
}
.room-detail-df-comment .comment-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}
.room-detail-df-comment .comment-wrapper .media-list .media img {
  width: 64px;
  height: 64px;
  border: 2px solid #e5e7e8;
}
.room-detail-df-comment .comment-wrapper .media-list .media {
  border-bottom: 1px dashed #efefef;
  margin-bottom: 25px;
}
.room-detail-df-comment .bown {
  display: flex;
}
.room-detail-df-comment .rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  top: -15px;
  left: 10px;
}
.room-detail-df-comment .rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}
.room-detail-df-comment .rating label:last-child {
  position: static;
}
.room-detail-df-comment .rating label:nth-child(1) {
  z-index: 5;
}
.room-detail-df-comment .rating label:nth-child(2) {
  z-index: 4;
}
.room-detail-df-comment .rating label:nth-child(3) {
  z-index: 3;
}
.room-detail-df-comment .rating label:nth-child(4) {
  z-index: 2;
}
.room-detail-df-comment .rating label:nth-child(5) {
  z-index: 1;
}
.room-detail-df-comment .rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.room-detail-df-comment .rating label .icon {
  float: left;
  color: transparent;
}
.room-detail-df-comment .rating label:last-child .icon {
  color: #000;
}
.room-detail-df-comment .rating:not(:hover) label input:checked ~ .icon,
.room-detail-df-comment .rating:hover label:hover input ~ .icon {
  color: #09f;
}
.room-detail-df-comment .rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
.room-detail-df-image h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 15px;
  background-color: #F6F7F9;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.room-detail-df-image h4 i {
  padding-right: 10px;
}
.room-detail-df-image #carousel {
  margin-top: 0px;
}
.room-detail-df-image #carousel .item img {
  width: 98%;
  height: 500px;
}
.room-detail-df-image .item .thumb {
  width: 25%;
  cursor: pointer;
  float: left;
}
.room-detail-df-image .item .thumb img, .room-detail-df-image .item img {
  width: 100%;
  height: 120px;
}
.room-detail-df-image #thumbcarousel {
  width: 98%;
}
.room-detail-df-title {
  display: flex;
  justify-content: space-between;
}
.room-detail-df-title__view {
  margin-right: 10px;
}
.room-detail-df-map {
  padding-left: 20px;
  padding-right: 20px;
}
.room-detail-df-map img {
  width: 100%;
}
.room-detail-df-utility h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 15px;
  background-color: #F6F7F9;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.room-detail-df-utility h4 i {
  padding-right: 10px;
}
.room-detail-df-utility .col-md-4 p {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
}
.room-detail-df-utility .col-md-4 p i {
  color: #666666;
  font-size: 24px;
  margin-right: 12px;
}
.room-detail-df-info h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 15px;
  background-color: #F6F7F9;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.room-detail-df-info h4 i {
  padding-right: 10px;
}
.room-detail-df-info .col-md-3 {
  margin-bottom: 15px;
}
.room-detail-df-info .col-md-3 p:first-child {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  text-transform: uppercase;
}
.room-detail-df-info .col-md-3 p:last-child {
  margin: 0;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 24px;
}
.room-detail-df-info .col-md-12 p:first-child {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  text-transform: uppercase;
}
.room-detail-df-info .col-md-12 p:last-child {
  margin: 0;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 24px;
}
.room-detail-df-description h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 15px;
  background-color: #F6F7F9;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.room-detail-df-description h4 i {
  padding-right: 10px;
}
.room-detail-us {
  background-color: #fff;
}
.room-detail-us-user img {
  margin: 0px auto;
  border-radius: 50%;
  margin: 14px 12px;
}
.room-detail-us-user .col-md-8 {
  padding-right: 0px;
}
.room-detail-us-user .col-md-8 h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.room-detail-us-user .col-md-8 p {
  font-family: "Open Sans", sans-serif;
}
.room-detail-us-user .col-md-12 a {
  font-weight: bold !important;
  font-size: 14px;
  color: #fff;
  background-color: #003352;
  border-color: #003352;
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.create-room__info-user {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 15px 5px #ccc;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.create-room__lable__tag {
  background-color: #007bff;
  color: #fff;
  padding: 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.create-room__lable__tag h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0px;
}
.create-room__lable__form {
  border: 1px solid #eee;
  background-color: #fff;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  /* The container */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.create-room__lable__form #map-canvas {
  width: 96% !important;
  margin-left: 15px;
}
.create-room__lable__form .utility {
  display: flex;
  flex-wrap: wrap;
}
.create-room__lable__form .check {
  width: 33.3333%;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.create-room__lable__form .check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.create-room__lable__form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.create-room__lable__form .check:hover input ~ .checkmark {
  background-color: #ccc;
}
.create-room__lable__form .check input:checked ~ .checkmark {
  background-color: #2196F3;
}
.create-room__lable__form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.create-room__lable__form .check input:checked ~ .checkmark:after {
  display: block;
}
.create-room__lable__form .check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.create-room__lable__form input[type=file] {
  display: none;
}
.create-room__lable__form #choose {
  padding: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

footer {
  background: #003352 url("../images/footer-bg.png");
  background-size: cover;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
footer #register {
  position: relative;
}
footer #register h5 {
  text-align: left;
  font-size: 16px;
}
footer #register input[type=text] {
  height: 40px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid #ddd;
  padding-left: 10px;
}
footer #register input[type=submit] {
  position: absolute;
  height: 40px;
  width: 80px;
  color: #fff;
  right: 0px;
  bottom: 0px;
  border-radius: 50px;
  border: none;
  background-color: #2BAE66FF;
}

.update-form {
  width: 60%;
  margin: 0px auto;
  background-color: #fff;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.update-form label.required::after {
  content: " *";
  color: red;
}
.update-form .form-group select, .update-form input {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

/**
 * Component: Example
 * --------------------------------------------------
 */
.c-example {
  position: relative;
  padding: 30px 30px 0 30px;
  border-bottom: 1px solid #ccd1d9;
}

.c-example__title {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  margin: 0 0 20px 0;
}

.c-example .c-button {
  margin-bottom: 30px;
}

.c-example .c-button-group--vertical {
  margin-bottom: 30px;
}

.c-example .c-button-group--vertical .c-button {
  margin-bottom: 0;
}

/**
 * Component: Button
 * --------------------------------------------------
 */
.c-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-height: 34px;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  text-decoration: none;
  color: #fff;
  border: 1px solid #434a54;
  border-radius: 3px;
  background: #656d78;
  -webkit-appearance: none;
}

.c-button:hover {
  border-color: #434a54;
  background-color: #434a54;
}

.c-button::-moz-focus-inner {
  margin: 0;
  padding: 0;
}

.c-button:focus {
  outline: 1px dotted;
  outline: 3px auto -webkit-focus-ring-color;
}

.c-button:hover,
.c-button:focus,
.c-button:active {
  text-decoration: none;
}

.c-button:disabled,
.c-button.is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
}

/**
 * Component: Button
 * Modifier: Size
 * --------------------------------------------------
 */
.c-button--small {
  font-size: 12px;
  line-height: 18px;
  min-height: 28px;
  padding: 4px 8px;
  border-radius: 2px;
}

.c-button--large {
  font-size: 16px;
  line-height: 22px;
  min-height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
}

/**
 * Component: Button
 * Modifier: Variation
 * --------------------------------------------------
 */
.c-button--primary {
  color: #fff;
  border-color: #967adc;
  background-color: #ac92ec;
}

.c-button--primary:hover {
  color: #fff;
  border-color: #967adc;
  background-color: #967adc;
}

.c-button--secondary {
  color: #fff;
  border-color: #4a89dc;
  background-color: #5d9cec;
}

.c-button--secondary:hover {
  color: #fff;
  border-color: #4a89dc;
  background-color: #4a89dc;
}

.c-button--outline {
  color: #434a54;
  border-color: #434a54;
  background-color: transparent;
}

.c-button--outline:hover {
  color: #fff;
  border-color: #434a54;
  background-color: #434a54;
}

.c-button--link {
  color: #5d9cec;
  border-color: transparent;
  background-color: transparent;
}

.c-button--link:hover {
  color: #4a89dc;
  border-color: transparent;
  background-color: transparent;
}

.c-button--success {
  color: #fff;
  border-color: #8cc152;
  background-color: #a0d468;
}

.c-button--success:hover {
  color: #fff;
  border-color: #8cc152;
  background-color: #8cc152;
}

.c-button--info {
  color: #fff;
  border-color: #3bafda;
  background-color: #4fc1e9;
}

.c-button--info:hover {
  color: #fff;
  border-color: #3bafda;
  background-color: #3bafda;
}

.c-button--warning {
  color: #fff;
  border-color: #f6bb42;
  background-color: #ffce54;
}

.c-button--warning:hover {
  color: #fff;
  border-color: #f6bb42;
  background-color: #f6bb42;
}

.c-button--error {
  color: #fff;
  border-color: #da4453;
  background-color: #ed5565;
}

.c-button--error:hover {
  color: #fff;
  border-color: #da4453;
  background-color: #da4453;
}

/**
 * Component: Button Group
 * --------------------------------------------------
 */
.c-button-group {
  font-size: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-button-group + .c-button-group {
  margin-left: 30px;
}

.c-button-group__item:not(:first-child):not(:last-child) > .c-button {
  border-radius: 0 !important;
}

.c-button-group__item > .c-button {
  display: block;
  width: 100%;
}

.c-button-group__item > .c-button:hover,
.c-button-group__item > .c-button:focus,
.c-button-group__item > .c-button:active {
  z-index: 1;
}

.c-button-group--horizontal > .c-button-group__item {
  display: inline-block;
  margin-left: -1px;
}

.c-button-group--horizontal > .c-button-group__item:first-child:not(:only-child) {
  margin-left: 0;
}

.c-button-group--horizontal > .c-button-group__item:first-child:not(:only-child) > .c-button {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.c-button-group--horizontal > .c-button-group__item:last-child:not(:only-child) > .c-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.c-button-group--vertical > .c-button-group__item {
  display: block;
  margin-top: -1px;
}

.c-button-group--vertical > .c-button-group__item:first-child:not(:only-child) {
  margin-top: 0;
}

.c-button-group--vertical > .c-button-group__item:first-child:not(:only-child) > .c-button {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.c-button-group--vertical > .c-button-group__item:last-child:not(:only-child) > .c-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.c-button-group--vertical > .c-button-group__item > .c-button {
  text-align: left;
}

.filter {
  border: 1px solid #eee;
  background-color: #fff;
}
.filter__title {
  font-family: "Open Sans", sans-serif;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}
.filter__title h3 {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}
.filter__options {
  background-color: #F6F7F9;
}
.filter__options__price {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /* The container-fi */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.filter__options__price h5 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}
.filter__options__price .container-fi {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter__options__price label {
  font-weight: normal;
}
.filter__options__price .container-fi input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.filter__options__price .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}
.filter__options__price .container-fi:hover input ~ .checkmark {
  background-color: #ccc;
}
.filter__options__price .container-fi input:checked ~ .checkmark {
  background-color: #2196F3;
}
.filter__options__price .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.filter__options__price .container-fi input:checked ~ .checkmark:after {
  display: block;
}
.filter__options__price .container-fi .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.filter__options__area {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /* The container-fi */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.filter__options__area h5 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}
.filter__options__area .container-fi {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter__options__area label {
  font-weight: normal;
}
.filter__options__area .container-fi input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.filter__options__area .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}
.filter__options__area .container-fi:hover input ~ .checkmark {
  background-color: #ccc;
}
.filter__options__area .container-fi input:checked ~ .checkmark {
  background-color: #2196F3;
}
.filter__options__area .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.filter__options__area .container-fi input:checked ~ .checkmark:after {
  display: block;
}
.filter__options__area .container-fi .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.filter__options__utility {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /* The container */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.filter__options__utility h5 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}
.filter__options__utility .container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter__options__utility label {
  font-weight: normal;
}
.filter__options__utility .container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.filter__options__utility .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}
.filter__options__utility .container2:hover input ~ .checkmark {
  background-color: #ccc;
}
.filter__options__utility .container2 input:checked ~ .checkmark {
  background-color: #2196F3;
}
.filter__options__utility .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.filter__options__utility .container2 input:checked ~ .checkmark:after {
  display: block;
}
.filter__options__utility .container2 .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.filter__options__start {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /* The container-fi */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.filter__options__start .checked {
  color: orange;
}
.filter__options__start h5 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}
.filter__options__start .container-fi {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter__options__start label {
  font-weight: normal;
}
.filter__options__start .container-fi input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.filter__options__start .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}
.filter__options__start .container-fi:hover input ~ .checkmark {
  background-color: #ccc;
}
.filter__options__start .container-fi input:checked ~ .checkmark {
  background-color: #2196F3;
}
.filter__options__start .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.filter__options__start .container-fi input:checked ~ .checkmark:after {
  display: block;
}
.filter__options__start .container-fi .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.filter__options .button__submit {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.room-new .paginationjs {
  line-height: 1.6;
  font-family: Marmelad, "Lucida Grande", Arial, "Hiragino Sans GB", Georgia, sans-serif;
  font-size: 14px;
  box-sizing: initial;
}
.room-new .paginationjs:after {
  display: table;
  content: " ";
  clear: both;
}
.room-new .paginationjs .paginationjs-pages {
  float: left;
}
.room-new .paginationjs .paginationjs-pages ul {
  float: left;
  margin: 0;
  padding: 0;
}
.room-new .paginationjs .paginationjs-go-button, .room-new .paginationjs .paginationjs-go-input, .room-new .paginationjs .paginationjs-nav {
  float: left;
  margin-left: 10px;
  font-size: 14px;
}
.room-new .paginationjs .paginationjs-pages li {
  float: left;
  border: 1px solid #aaa;
  border-right: none;
  list-style: none;
}
.room-new .paginationjs .paginationjs-pages li > a {
  min-width: 30px;
  height: 28px;
  line-height: 28px;
  display: block;
  background: #fff;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  text-align: center;
}
.room-new .paginationjs .paginationjs-pages li > a:hover {
  background: #eee;
}
.room-new .paginationjs .paginationjs-pages li.active {
  border: none;
}
.room-new .paginationjs .paginationjs-pages li.active > a {
  height: 30px;
  line-height: 30px;
  background: #337ab7;
  color: #fff;
}
.room-new .paginationjs .paginationjs-pages li.disabled > a {
  opacity: 0.3;
}
.room-new .paginationjs .paginationjs-pages li.disabled > a:hover {
  background: 0 0;
}
.room-new .paginationjs .paginationjs-pages li:first-child, .room-new .paginationjs .paginationjs-pages li:first-child > a {
  border-radius: 3px 0 0 3px;
}
.room-new .paginationjs .paginationjs-pages li:last-child {
  border-right: 1px solid #aaa;
  border-radius: 0 3px 3px 0;
}
.room-new .paginationjs .paginationjs-pages li:last-child > a {
  border-radius: 0 3px 3px 0;
}
.room-new .paginationjs .paginationjs-go-input > input[type=text] {
  width: 30px;
  height: 28px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 0;
  font-size: 14px;
  text-align: center;
  vertical-align: baseline;
  outline: 0;
  box-shadow: none;
  box-sizing: initial;
}
.room-new .paginationjs .paginationjs-go-button > input[type=button] {
  min-width: 40px;
  height: 30px;
  line-height: 28px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #aaa;
  text-align: center;
  padding: 0 8px;
  font-size: 14px;
  vertical-align: baseline;
  outline: 0;
  box-shadow: none;
  color: #333;
  cursor: pointer;
  vertical-align: middle\9 ;
}
.room-new .paginationjs.paginationjs-theme-blue .paginationjs-go-input > input[type=text], .room-new .paginationjs.paginationjs-theme-blue .paginationjs-pages li {
  border-color: #289de9;
}
.room-new .paginationjs .paginationjs-go-button > input[type=button]:hover {
  background-color: #f8f8f8;
}
.room-new .paginationjs .paginationjs-nav {
  height: 30px;
  line-height: 30px;
}
.room-new .paginationjs .paginationjs-go-button, .room-new .paginationjs .paginationjs-go-input {
  margin-left: 5px\9 ;
}
.room-new .paginationjs.paginationjs-small {
  font-size: 12px;
}
.room-new .paginationjs.paginationjs-small .paginationjs-pages li > a {
  min-width: 26px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}
.room-new .paginationjs.paginationjs-small .paginationjs-pages li.active > a {
  height: 26px;
  line-height: 26px;
}
.room-new .paginationjs.paginationjs-small .paginationjs-go-input {
  font-size: 12px;
}
.room-new .paginationjs.paginationjs-small .paginationjs-go-input > input[type=text] {
  width: 26px;
  height: 24px;
  font-size: 12px;
}
.room-new .paginationjs.paginationjs-small .paginationjs-go-button {
  font-size: 12px;
}
.room-new .paginationjs.paginationjs-small .paginationjs-go-button > input[type=button] {
  min-width: 30px;
  height: 26px;
  line-height: 24px;
  padding: 0 6px;
  font-size: 12px;
}
.room-new .paginationjs.paginationjs-small .paginationjs-nav {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
}
.room-new .paginationjs.paginationjs-big {
  font-size: 16px;
}
.room-new .paginationjs.paginationjs-big .paginationjs-pages li > a {
  min-width: 36px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
}
.room-new .paginationjs.paginationjs-big .paginationjs-pages li.active > a {
  height: 36px;
  line-height: 36px;
}
.room-new .paginationjs.paginationjs-big .paginationjs-go-input {
  font-size: 16px;
}
.room-new .paginationjs.paginationjs-big .paginationjs-go-input > input[type=text] {
  width: 36px;
  height: 34px;
  font-size: 16px;
}
.room-new .paginationjs.paginationjs-big .paginationjs-go-button {
  font-size: 16px;
}
.room-new .paginationjs.paginationjs-big .paginationjs-go-button > input[type=button] {
  min-width: 50px;
  height: 36px;
  line-height: 34px;
  padding: 0 12px;
  font-size: 16px;
}
.room-new .paginationjs.paginationjs-big .paginationjs-nav {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
}
.room-new .paginationjs.paginationjs-theme-blue .paginationjs-pages li > a {
  color: #289de9;
}
.room-new .paginationjs.paginationjs-theme-blue .paginationjs-pages li > a:hover {
  background: #e9f4fc;
}
.room-new .paginationjs.paginationjs-theme-blue .paginationjs-pages li.active > a {
  background: #289de9;
  color: #fff;
}
.room-new .paginationjs.paginationjs-theme-blue .paginationjs-pages li.disabled > a:hover {
  background: 0 0;
}
.room-new .paginationjs.paginationjs-theme-blue .paginationjs-go-button > input[type=button] {
  background: #289de9;
  border-color: #289de9;
  color: #fff;
}
.room-new .paginationjs.paginationjs-theme-green .paginationjs-go-input > input[type=text], .room-new .paginationjs.paginationjs-theme-green .paginationjs-pages li {
  border-color: #449d44;
}
.room-new .paginationjs.paginationjs-theme-blue .paginationjs-go-button > input[type=button]:hover {
  background-color: #3ca5ea;
}
.room-new .paginationjs.paginationjs-theme-green .paginationjs-pages li > a {
  color: #449d44;
}
.room-new .paginationjs.paginationjs-theme-green .paginationjs-pages li > a:hover {
  background: #ebf4eb;
}
.room-new .paginationjs.paginationjs-theme-green .paginationjs-pages li.active > a {
  background: #449d44;
  color: #fff;
}
.room-new .paginationjs.paginationjs-theme-green .paginationjs-pages li.disabled > a:hover {
  background: 0 0;
}
.room-new .paginationjs.paginationjs-theme-green .paginationjs-go-button > input[type=button] {
  background: #449d44;
  border-color: #449d44;
  color: #fff;
}
.room-new .paginationjs.paginationjs-theme-yellow .paginationjs-go-input > input[type=text], .room-new .paginationjs.paginationjs-theme-yellow .paginationjs-pages li {
  border-color: #ec971f;
}
.room-new .paginationjs.paginationjs-theme-green .paginationjs-go-button > input[type=button]:hover {
  background-color: #55a555;
}
.room-new .paginationjs.paginationjs-theme-yellow .paginationjs-pages li > a {
  color: #ec971f;
}
.room-new .paginationjs.paginationjs-theme-yellow .paginationjs-pages li > a:hover {
  background: #fdf5e9;
}
.room-new .paginationjs.paginationjs-theme-yellow .paginationjs-pages li.active > a {
  background: #ec971f;
  color: #fff;
}
.room-new .paginationjs.paginationjs-theme-yellow .paginationjs-pages li.disabled > a:hover {
  background: 0 0;
}
.room-new .paginationjs.paginationjs-theme-yellow .paginationjs-go-button > input[type=button] {
  background: #ec971f;
  border-color: #ec971f;
  color: #fff;
}
.room-new .paginationjs.paginationjs-theme-red .paginationjs-go-input > input[type=text], .room-new .paginationjs.paginationjs-theme-red .paginationjs-pages li {
  border-color: #c9302c;
}
.room-new .paginationjs.paginationjs-theme-yellow .paginationjs-go-button > input[type=button]:hover {
  background-color: #eea135;
}
.room-new .paginationjs.paginationjs-theme-red .paginationjs-pages li > a {
  color: #c9302c;
}
.room-new .paginationjs.paginationjs-theme-red .paginationjs-pages li > a:hover {
  background: #faeaea;
}
.room-new .paginationjs.paginationjs-theme-red .paginationjs-pages li.active > a {
  background: #c9302c;
  color: #fff;
}
.room-new .paginationjs.paginationjs-theme-red .paginationjs-pages li.disabled > a:hover {
  background: 0 0;
}
.room-new .paginationjs.paginationjs-theme-red .paginationjs-go-button > input[type=button] {
  background: #c9302c;
  border-color: #c9302c;
  color: #fff;
}
.room-new .paginationjs.paginationjs-theme-red .paginationjs-go-button > input[type=button]:hover {
  background-color: #ce4541;
}
.room-new .paginationjs .paginationjs-pages li.paginationjs-next {
  border-right: 1px solid #aaa;
}
.room-new .paginationjs .paginationjs-go-input > input[type=text] {
  line-height: 28px\9 ;
  vertical-align: middle\9 ;
}
.room-new .paginationjs.paginationjs-big .paginationjs-pages li > a {
  line-height: 36px\9 ;
}
.room-new .paginationjs.paginationjs-big .paginationjs-go-input > input[type=text] {
  height: 36px\9 ;
  line-height: 36px\9 ;
}
.room-new ul, .room-new li {
  list-style: none;
}
.room-new #wrapper {
  width: 900px;
  margin: 20px auto;
}
.room-new .data-container {
  margin-top: 20px;
}
.room-new .data-container ul {
  padding: 0;
  margin: 0;
}
.room-new .data-container li {
  margin-bottom: 5px;
  padding: 5px 10px;
  background: #eee;
  color: #337ab7;
}

.manager-room a {
  text-decoration: none;
}
.manager-room a:hover {
  text-decoration: none;
}
.manager-room .container {
  padding: 2rem 0rem;
}
.manager-room .table {
  background-color: #fff;
}
.manager-room h4 {
  margin: 2rem 0rem 1rem;
}
.manager-room .table-image td, .manager-room .table-image th {
  vertical-align: middle;
}
.manager-room .avatar-user img {
  width: 200px;
  height: auto;
}
.manager-room .user-info {
  display: flex;
  margin-bottom: 10px;
}
.manager-room .user-info p {
  flex: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.manager-room .user-info label {
  min-width: 120px;
}
.manager-room .options {
  position: relative;
}
.manager-room .options__user {
  position: absolute;
  right: 0;
}

.modal-dialog .modal-footer {
  display: flex;
  justify-content: flex-end;
}
.modal-dialog .modal-footer #confirm {
  margin-right: 10px;
}

.image-room {
  display: flex;
  justify-content: space-around;
}
.image-room-ls {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: content-box;
  width: 200px;
}
.image-room-ls img {
  width: 100%;
  height: auto;
}
.image-room-ls #dele {
  cursor: pointer;
  position: absolute;
  color: #fff;
  background-color: #337ab7;
  padding: 8px;
  right: 0;
}

.form-post {
  background-color: #fff;
  padding: 15px;
}

.blog {
  background-color: #fff;
  padding: 15px;
}
.blog .title {
  text-align: center;
}
.blog .title h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}
.blog .content__box-post {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 3px #ddd, 0 10px 20px #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
}
.blog .content__box-post__image-post {
  flex: 1;
}
.blog .content__box-post__image-post img {
  width: 100%;
  height: 100%;
}
.blog .content__box-post__title-post {
  flex: 2;
  padding-left: 15px;
}
.blog .content__box-post__title-post p {
  color: #333;
}
.blog .content__box-post__info-post {
  color: #8c8888;
  display: flex;
  justify-content: space-between;
}
.blog .content__box-post__info-post p i {
  margin-right: 8px;
}

.content-post {
  background-color: #fff;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
}
.content-post__content img {
  width: 100%;
}
.content-post__info {
  display: flex;
  text-align: right;
  flex-direction: column-reverse;
}

.new-post__title h3 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  border-bottom: 2px solid #ddd;
}
.new-post__box {
  font-family: "Open Sans", sans-serif;
}
.new-post__box__mp {
  display: flex;
  margin-top: 10px;
}
.new-post__box__mp__thumb {
  flex: 1;
}
.new-post__box__mp__thumb img {
  width: 100%;
}
.new-post__box__mp__title {
  flex: 2;
  padding-left: 15px;
}
.new-post__box__mp__title h5 {
  margin-top: 0px;
}
.new-post__box__mp__title a {
  text-decoration: none;
}
.new-post__box__mp__title a:hover {
  text-decoration: none;
}

.province__item {
  display: flex;
}

@media screen and (min-width: 768px) {
  .menu-mobie-app {
    display: none;
  }

  .nav-bars-btn {
    display: none;
  }

  .nav_input {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .banner {
    padding-top: 40px;
  }

  .banner-menu {
    padding-top: 12px;
  }

  .banner-menu ul li {
    margin-left: 16px;
  }
}
@media screen and (max-width: 768px) {
  .room-new-title a {
    padding: 4px 6px;
  }

  .banner-menu {
    display: none;
  }

  .nav-bars-btn {
    color: #fff;
    font-size: 30px;
    padding-top: 20px;
    padding-right: 10px;
    position: absolute;
    right: 10px;
  }

  .nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99;
    display: none;
    -webkit-animation: fadeIn linear 0.3s;
            animation: fadeIn linear 0.3s;
  }

  .menu-mobie-app {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    width: 320px;
    max-width: 100%;
    z-index: 999;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.3s, opacity linear 0.3s;
    padding: 15px;
  }
  .menu-mobie-app ul {
    list-style: none;
  }
  .menu-mobie-app ul li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu-mobie-app ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }
  .menu-mobie-app ul li a span {
    margin-right: 5px;
  }

  .nav_input {
    display: none;
  }

  .nav-btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
  }

  .nav_input:checked ~ .nav__overlay {
    display: block;
  }

  .nav_input:checked ~ .menu-mobie-app {
    transform: translateX(0);
    opacity: 1;
  }

  .room-new-content a {
    flex-wrap: wrap;
  }

  .room-new-content a .thumb {
    width: 100%;
  }

  .room-new-content a .info {
    width: 100%;
  }

  .room-new-title a {
    width: 123px;
  }

  .menu-top {
    display: none;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#wrapper {
  background-color: #F6F5F2;
  padding-bottom: 20px;
  padding-top: 20px;
}

#room-detail-df-map, #room-detail-df-map-direc {
  width: 100%;
  height: 500px;
}

#room-detail-df-map-direc {
  display: none;
}

.room-new-content:last-child {
  border-bottom: none;
}

.alert ul li {
  list-style: none;
}

.title h3 {
  margin-top: 0;
}

#dangki a {
  background-color: #fff !important;
  width: 100%;
  padding: 0;
}
#dangki a button {
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
}

#info-user {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  padding: 15px;
}

.trend-top img {
  height: 100%;
}