*{
    margin:0px;
    padding: 0px;
}
#image_preview{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
}
#image_preview img{
    width: 200px;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}