.breadcrumbs{
    &-link {
        background-color: #fff;
        padding: {
            top:10px;
            bottom: 10px;
        } padding: {
            top:10px;
            bottom: 10px;
            left: 10px;
        }
    }
   
    ul{
        li{
            display: inline-block;
            font: {
                family: 'Open Sans', sans-serif;
            }
        }
        li:after {
            content: "/\00a0";
            padding: 0 5px;
            color: #ccc;
        }
        li:last-child:after{
            content: "/\00a0";
            padding: 0 8px;
            color: #fff;
        }
    }
}