.image-room{
    display: flex;
    justify-content: space-around;
    &-ls{
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        box-sizing: content-box;
        width: 200px;
        img{
            width: 100%;
            height: auto;
        }
        #dele{
            cursor: pointer;
            position:absolute;
            color:#fff;
            background-color:#337ab7;
            padding:8px;
            right: 0;
        }
    }
}
