.update-form{
    width: 60%;
    margin:0px auto;
    background-color: #fff;
    padding : {
        top:15px;
        left:15px;
        right: 15px;
        bottom: 15px;
    }
    label.required::after{
        content: " *";
        color: red;
    }
    .form-group select, input{
        background-color: #fff;
        border-color: #d9d9d9 #ccc #b3b3b3;
        border-radius: 4px;
        border: 1px solid #ccc;
        color: #333;
        display: table;
        border-spacing: 0;
        border-collapse: separate;
        height: 36px;
        outline: none;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/**
 * Component: Example
 * --------------------------------------------------
 */

.c-example
{
    position: relative;

    padding: 30px 30px 0 30px;

    border-bottom: 1px solid #ccd1d9;
}

.c-example__title
{
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;

    margin: 0 0 20px 0;
}

.c-example .c-button {
  margin-bottom: 30px;
}

.c-example .c-button-group--vertical {
  margin-bottom: 30px;
}

.c-example .c-button-group--vertical .c-button {
  margin-bottom: 0;
}

/**
 * Component: Button
 * --------------------------------------------------
 */

.c-button
{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    min-height: 34px;
    padding: 6px 12px;

    cursor: pointer;
    user-select: none;
    transition: background-color .25s ease, border-color .25s ease, color .25s ease;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    text-decoration: none;

    color: #fff;
    border: 1px solid #434a54;
    border-radius: 3px;
    background: #656d78;

    -webkit-appearance: none;
}
.c-button:hover
{
    border-color: #434a54;
    background-color: #434a54;
}
.c-button::-moz-focus-inner
{
    margin: 0;
    padding: 0;
}
.c-button:focus
{
    outline: 1px dotted;
    outline: 3px auto -webkit-focus-ring-color;
}
.c-button:hover,
.c-button:focus,
.c-button:active
{
    text-decoration: none;
}
.c-button:disabled,
.c-button.is-disabled
{
    cursor: not-allowed;
    pointer-events: none;

    opacity: .65;
}

/**
 * Component: Button
 * Modifier: Size
 * --------------------------------------------------
 */

.c-button--small
{
    font-size: 12px;
    line-height: 18px;

    min-height: 28px;
    padding: 4px 8px;

    border-radius: 2px;
}

.c-button--large
{
    font-size: 16px;
    line-height: 22px;

    min-height: 40px;
    padding: 8px 16px;

    border-radius: 4px;
}

/**
 * Component: Button
 * Modifier: Variation
 * --------------------------------------------------
 */
.c-button--primary
{
    color: #fff;
    border-color: #967adc;
    background-color: #ac92ec;
}
.c-button--primary:hover
{
    color: #fff;
    border-color: #967adc;
    background-color: #967adc;
}

.c-button--secondary
{
    color: #fff;
    border-color: #4a89dc;
    background-color: #5d9cec;
}
.c-button--secondary:hover
{
    color: #fff;
    border-color: #4a89dc;
    background-color: #4a89dc;
}

.c-button--outline
{
    color: #434a54;
    border-color: #434a54;
    background-color: transparent;
}
.c-button--outline:hover
{
    color: #fff;
    border-color: #434a54;
    background-color: #434a54;
}

.c-button--link
{
    color: #5d9cec;
    border-color: transparent;
    background-color: transparent;
}
.c-button--link:hover
{
    color: #4a89dc;
    border-color: transparent;
    background-color: transparent;
}

.c-button--success
{
    color: #fff;
    border-color: #8cc152;
    background-color: #a0d468;
}
.c-button--success:hover
{
    color: #fff;
    border-color: #8cc152;
    background-color: #8cc152;
}

.c-button--info
{
    color: #fff;
    border-color: #3bafda;
    background-color: #4fc1e9;
}
.c-button--info:hover
{
    color: #fff;
    border-color: #3bafda;
    background-color: #3bafda;
}

.c-button--warning
{
    color: #fff;
    border-color: #f6bb42;
    background-color: #ffce54;
}
.c-button--warning:hover
{
    color: #fff;
    border-color: #f6bb42;
    background-color: #f6bb42;
}

.c-button--error
{
    color: #fff;
    border-color: #da4453;
    background-color: #ed5565;
}
.c-button--error:hover
{
    color: #fff;
    border-color: #da4453;
    background-color: #da4453;
}

/**
 * Component: Button Group
 * --------------------------------------------------
 */
.c-button-group
{
    font-size: 0;

    display: inline-block;

    margin: 0;
    padding: 0;

    list-style: none;
}
.c-button-group + .c-button-group
{
    margin-left: 30px;
}

.c-button-group__item:not(:first-child):not(:last-child) > .c-button
{
    border-radius: 0 !important;
}
.c-button-group__item > .c-button
{
    display: block;

    width: 100%;
}
.c-button-group__item > .c-button:hover,
.c-button-group__item > .c-button:focus,
.c-button-group__item > .c-button:active
{
    z-index: 1;
}

.c-button-group--horizontal > .c-button-group__item
{
    display: inline-block;

    margin-left: -1px;
}
.c-button-group--horizontal > .c-button-group__item:first-child:not(:only-child)
{
    margin-left: 0;
}
.c-button-group--horizontal > .c-button-group__item:first-child:not(:only-child) > .c-button
{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.c-button-group--horizontal > .c-button-group__item:last-child:not(:only-child) > .c-button
{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.c-button-group--vertical > .c-button-group__item
{
    display: block;

    margin-top: -1px;
}
.c-button-group--vertical > .c-button-group__item:first-child:not(:only-child)
{
    margin-top: 0;
}
.c-button-group--vertical > .c-button-group__item:first-child:not(:only-child) > .c-button
{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.c-button-group--vertical > .c-button-group__item:last-child:not(:only-child) > .c-button
{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.c-button-group--vertical > .c-button-group__item > .c-button
{
    text-align: left;
}