<template>
    <app-home></app-home>
</template>

<script>
import Home from './Home/Home'
    export default {
        name : 'App',
        mounted() {
            console.log('Component mounted.')
        },
        components : {
            'app-home' : Home
        }
    }
</script>
