@mixin radio {
    padding: {
        top:15px;
        left: 15px;
        right: 15px;
    }
    h5{
        margin-top: 0;
        font-size: 16px;
        font-weight: bold;
    }
    /* The container-fi */
    .container-fi {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    label{
        font-weight: normal;
    }
    /* Hide the browser's default radio button */
    .container-fi input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #eee;
        border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    .container-fi:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the radio button is checked, add a blue background */
    .container-fi input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .container-fi input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .container-fi .checkmark:after {
        top: 5px;
        left: 5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
}
.filter{
    border:1px solid #eee;
    background-color: #fff;
    &__title{
        font: {
            family: 'Open Sans', sans-serif;
        }
        padding: {
            left: 15px;
            top: 10px;
            bottom: 10px;
            right: 15px;
        }
        h3{
            margin: 0;
            font-size: 17px;
            font-weight: bold;
        }
    }
    &__options{
        background-color: #F6F7F9;
        &__price{
            @include radio();
        }
        &__area{
            @include radio();
        }
        &__utility{
            padding: {
                top:15px;
                left: 15px;
                right: 15px;
            }
            h5{
                margin-top: 0;
                font-size: 16px;
                font-weight: bold;
            }
            /* The container */
            .container2 {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 16px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            label{
                font-weight: normal;
            }
            /* Hide the browser's default checkbox */
            .container2 input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            
            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 18px;
                width: 18px;
                background-color: #eee;
            }
            
            /* On mouse-over, add a grey background color */
            .container2:hover input ~ .checkmark {
                background-color: #ccc;
            }
            
            /* When the checkbox is checked, add a blue background */
            .container2 input:checked ~ .checkmark {
                background-color: #2196F3;
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            
            /* Show the checkmark when checked */
            .container2 input:checked ~ .checkmark:after {
                display: block;
            }
            
            /* Style the checkmark/indicator */
            .container2 .checkmark:after {
                left: 7px;
                top: 3px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        &__start{
            .checked {
                color: orange;
              }
            @include radio();
        }
        .button__submit{
            padding: {
                top:15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
            }
        }
    }
}
.room-new{
    // #pagination-demo2 {
    //     display: inline-block;
    // }
    // #pagination-demo2 ul li{
    //     list-style: none;
    //     display: inline-block;
    // }
    // #pagination-demo2 a {
    //     color: black;
    //     float: left;
    //     padding: 8px 16px;
    //     text-decoration: none;
    //     transition: background-color .3s;
    //     border: 1px solid #ddd;
    // }
      
    // #pagination-demo2 a.active {
    //     background-color: #4CAF50;
    //     color: white;
    //     border: 1px solid #4CAF50;
    // }
      
    // #pagination-demo2 a:hover:not(.active) {background-color: #ddd;}
    .paginationjs{
        line-height:1.6;
        font-family:Marmelad,"Lucida Grande",Arial,"Hiragino Sans GB",Georgia,sans-serif;
        font-size:14px;box-sizing:initial
    }
        .paginationjs:after{
            display:table;
            content:" ";
            clear:both
        }
        .paginationjs .paginationjs-pages{
            float:left
        }
        .paginationjs .paginationjs-pages ul{
            float:left;
            margin:0;
            padding:0
        }
        .paginationjs .paginationjs-go-button,.paginationjs .paginationjs-go-input,.paginationjs .paginationjs-nav{
            float:left;
            margin-left:10px;
            font-size:14px
        }
        .paginationjs .paginationjs-pages li{
            float:left;
            border:1px solid #aaa;
            border-right:none;
            list-style:none
        }
        .paginationjs .paginationjs-pages li>a{
            min-width:30px;
            height:28px;
            line-height:28px;
            display:block;
            background:#fff;
            font-size:14px;
            color:#333;
            text-decoration:none;
            text-align:center
        }
        .paginationjs .paginationjs-pages li>a:hover{
            background:#eee
        }
        .paginationjs .paginationjs-pages li.active{
            border:none
        }
        .paginationjs .paginationjs-pages li.active>a{
            height:30px;line-height:30px;background:#337ab7;color:#fff
        }
        .paginationjs .paginationjs-pages li.disabled>a{opacity:.3}
        .paginationjs .paginationjs-pages li.disabled>a:hover{background:0 0}
        .paginationjs .paginationjs-pages li:first-child,.paginationjs .paginationjs-pages li:first-child>a{
            border-radius:3px 0 0 3px
        }
        .paginationjs .paginationjs-pages li:last-child{border-right:1px solid #aaa;border-radius:0 3px 3px 0}
        .paginationjs .paginationjs-pages li:last-child>a{border-radius:0 3px 3px 0}
        .paginationjs .paginationjs-go-input>input[type=text]{
            width:30px;
            
            height:28px;
            background:#fff;
            border-radius:3px;
            border:1px solid #aaa;
            padding:0;
            font-size:14px;
            text-align:center;vertical-align:baseline;outline:0;box-shadow:none;box-sizing:initial
        }
        .paginationjs .paginationjs-go-button>input[type=button]{
            min-width:40px;
            height:30px;
            line-height:28px;
            background:#fff;
            border-radius:3px;
            border:1px solid #aaa;
            text-align:center;padding:0 8px;font-size:14px;vertical-align:baseline;outline:0;box-shadow:none;color:#333;
            cursor:pointer;vertical-align:middle\9
        }
        .paginationjs.paginationjs-theme-blue .paginationjs-go-input>input[type=text],.paginationjs.paginationjs-theme-blue .paginationjs-pages li{border-color:#289de9
        }
        .paginationjs .paginationjs-go-button>input[type=button]:hover{background-color:#f8f8f8}
        .paginationjs .paginationjs-nav{height:30px;line-height:30px}
        .paginationjs .paginationjs-go-button,.paginationjs .paginationjs-go-input{margin-left:5px\9}
        .paginationjs.paginationjs-small{font-size:12px}
        .paginationjs.paginationjs-small .paginationjs-pages li>a{min-width:26px;height:24px;line-height:24px;font-size:12px}
        .paginationjs.paginationjs-small .paginationjs-pages li.active>a{height:26px;line-height:26px}
        .paginationjs.paginationjs-small .paginationjs-go-input{font-size:12px}
        .paginationjs.paginationjs-small .paginationjs-go-input>input[type=text]{width:26px;height:24px;font-size:12px}
        .paginationjs.paginationjs-small .paginationjs-go-button{font-size:12px}
        .paginationjs.paginationjs-small .paginationjs-go-button>input[type=button]{
            min-width:30px;height:26px;line-height:24px;padding:0 6px;font-size:12px
        }
        .paginationjs.paginationjs-small .paginationjs-nav{
            height:26px;line-height:26px;font-size:12px
        }
        .paginationjs.paginationjs-big{font-size:16px}
        .paginationjs.paginationjs-big .paginationjs-pages li>a{min-width:36px;height:34px;line-height:34px;font-size:16px}
        .paginationjs.paginationjs-big .paginationjs-pages li.active>a{height:36px;line-height:36px}
        .paginationjs.paginationjs-big .paginationjs-go-input{font-size:16px}
        .paginationjs.paginationjs-big .paginationjs-go-input>input[type=text]{width:36px;height:34px;font-size:16px}
        .paginationjs.paginationjs-big .paginationjs-go-button{font-size:16px}
        .paginationjs.paginationjs-big .paginationjs-go-button>input[type=button]{
            min-width:50px;height:36px;line-height:34px;padding:0 12px;font-size:16px}
        .paginationjs.paginationjs-big .paginationjs-nav{height:36px;line-height:36px;font-size:16px}
        .paginationjs.paginationjs-theme-blue .paginationjs-pages li>a{color:#289de9}
        .paginationjs.paginationjs-theme-blue .paginationjs-pages li>a:hover{background:#e9f4fc}
        .paginationjs.paginationjs-theme-blue .paginationjs-pages li.active>a{background:#289de9;color:#fff}
        .paginationjs.paginationjs-theme-blue .paginationjs-pages li.disabled>a:hover{background:0 0}
        .paginationjs.paginationjs-theme-blue .paginationjs-go-button>input[type=button]{
            background:#289de9;border-color:#289de9;color:#fff
        }
        .paginationjs.paginationjs-theme-green .paginationjs-go-input>input[type=text],.paginationjs.paginationjs-theme-green .paginationjs-pages li{border-color:#449d44}
        .paginationjs.paginationjs-theme-blue .paginationjs-go-button>input[type=button]:hover{background-color:#3ca5ea}
        .paginationjs.paginationjs-theme-green .paginationjs-pages li>a{color:#449d44}
        .paginationjs.paginationjs-theme-green .paginationjs-pages li>a:hover{background:#ebf4eb}
        .paginationjs.paginationjs-theme-green .paginationjs-pages li.active>a{background:#449d44;color:#fff}
        .paginationjs.paginationjs-theme-green .paginationjs-pages li.disabled>a:hover{background:0 0}
        .paginationjs.paginationjs-theme-green .paginationjs-go-button>input[type=button]{background:#449d44;border-color:#449d44;color:#fff}
        .paginationjs.paginationjs-theme-yellow .paginationjs-go-input>input[type=text],.paginationjs.paginationjs-theme-yellow .paginationjs-pages li{border-color:#ec971f}.paginationjs.paginationjs-theme-green .paginationjs-go-button>input[type=button]:hover{background-color:#55a555}
        .paginationjs.paginationjs-theme-yellow .paginationjs-pages li>a{color:#ec971f}
        .paginationjs.paginationjs-theme-yellow .paginationjs-pages li>a:hover{background:#fdf5e9}
        .paginationjs.paginationjs-theme-yellow .paginationjs-pages li.active>a{background:#ec971f;color:#fff}
        .paginationjs.paginationjs-theme-yellow .paginationjs-pages li.disabled>a:hover{background:0 0}
        .paginationjs.paginationjs-theme-yellow .paginationjs-go-button>input[type=button]{background:#ec971f;border-color:#ec971f;color:#fff}
        .paginationjs.paginationjs-theme-red .paginationjs-go-input>input[type=text],.paginationjs.paginationjs-theme-red .paginationjs-pages li{border-color:#c9302c}
        .paginationjs.paginationjs-theme-yellow .paginationjs-go-button>input[type=button]:hover{background-color:#eea135}
        .paginationjs.paginationjs-theme-red .paginationjs-pages li>a{color:#c9302c}
        .paginationjs.paginationjs-theme-red .paginationjs-pages li>a:hover{background:#faeaea}
        .paginationjs.paginationjs-theme-red .paginationjs-pages li.active>a{background:#c9302c;color:#fff}
        .paginationjs.paginationjs-theme-red .paginationjs-pages li.disabled>a:hover{background:0 0}
        .paginationjs.paginationjs-theme-red .paginationjs-go-button>input[type=button]{background:#c9302c;border-color:#c9302c;color:#fff}
        .paginationjs.paginationjs-theme-red .paginationjs-go-button>input[type=button]:hover{background-color:#ce4541}
        .paginationjs .paginationjs-pages li.paginationjs-next{border-right:1px solid #aaa}
        .paginationjs .paginationjs-go-input>input[type=text]{line-height:28px\9;vertical-align:middle\9}
        .paginationjs.paginationjs-big .paginationjs-pages li>a{line-height:36px\9}
        .paginationjs.paginationjs-big .paginationjs-go-input>input[type=text]{height:36px\9;line-height:36px\9}

ul, li {
            list-style: none;
        }

        #wrapper {
            width: 900px;
            margin: 20px auto;
        }

        .data-container {
            margin-top: 20px;
        }

        .data-container ul {
            padding: 0;
            margin: 0;
        }

        .data-container li {
            margin-bottom: 5px;
            padding: 5px 10px;
            background: #eee;
            color: #337ab7;
        }
}