<template>
    <div>
        <app-loading :loading="loading"></app-loading>
        <app-header></app-header>
        <div id="wrapper">
            <!-- Area Room -->
            <area-room></area-room>
            <!-- End Area Room -->
            <!-- List Room Lastest-->
            <room-lastest :roomLastest="listRoomLastest"></room-lastest>
            <!-- End List Room Lastest -->
            <!-- List Room Top-->
            <room-top :roomTop="listRoomTop"></room-top>
            <!-- End List Room Top -->
        </div>
        <app-footer></app-footer>
    </div>
</template>

<script>
import axios from "axios";
import AreaRoom from "../Page/AreaRoom";
import RoomLastest from "../Page/RoomLastest";
import RoomTop from "../Page/RoomTop";
import Header from "../Header/Header";
import Footer from "../Footer/Footer";
import Loading from "../Page/Loading";

import { fetchListRoomLastest } from "../../api/room";
import { mapActions, mapState } from "vuex";

export default {
    name: "Home",
    data() {
        return {
            roomLastest: [],
            roomTop: [],
            count: 0,
        };
    },
    components: {
        "area-room": AreaRoom,
        "room-lastest": RoomLastest,
        "room-top": RoomTop,
        "app-header": Header,
        "app-footer": Footer,
        "app-loading": Loading,
    },
    created() {
        this.fetchList();
        this.fetchListTop();
        this.fetchListPostPopular();
    },
    computed: {
        ...mapState([
            "listRoomLastest",
            "listRoomTop",
            "loading",
            "listPostPopular",
        ]),
    },
    methods: {
        ...mapActions(["fetchList", "fetchListTop", "fetchListPostPopular"]),
    },
};
</script>

<style lang="scss" scoped>
</style>