.trend{
    margin: {
        bottom : 30px;
    }
    &-title{
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    &-top{
        height: 170px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
        }
        &-title {
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
            color: #fff;
            
            h3{
                font-size: 19px;
                font-weight: 500;
            }
        }
    }
}