@mixin title() {
    display: flex;
    justify-content: space-between;
    padding : {
        bottom : 20px;
    }
    a{
        height: 32px;
        padding: 4px 12px;
        border: 1px solid #4877F8;
        border-radius: 16px;
        text-decoration: none;
        color : #4877F8;
        &:hover{
            text-decoration: none;
        }
    }
    font: {
        family : 'Montserrat', sans-serif;
    }
    h3{
        margin: 0px;
    }
}
@mixin padd {
    padding: {
        top:15px;
        left: 15px;
        bottom: 15px;
        right: 15px;
    }
}
.room{
    &-five_start{
        background-color: #fff;
        margin-top: 20px;
        padding: {
            top:20px;
            left:20px;
            right: 20px;
        }
    }
    &-new{
        background-color: #fff;
        padding: {
            top:20px;
            left:20px;
            right: 20px;
        }
        &-title{
            @include title();
        }
        &-content{
           
            padding: {
                top:15px;
                bottom:15px;
            }
            border: {
                bottom: 1px solid #CDCDCD;
            }
            &:nth-child(6){
                border-bottom: none;
            }
            a{
                display: flex;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
                .thumb{
                    width: 30%;
                    img{
                        width: 100%;
                        height: 150px;
                    }
                }
                .info{
                    width: 70%;
                    padding: {
                        left: 10px;
                    }
                    h3{
                        margin: 0px;
                        color : #000000;
                        font: {
                            family : 'Open Sans',sans-serif;
                            size: 20px;
                        }
                        padding: {
                            bottom: 5px;
                        }
                    }
                    &-main{
                        display: flex;
                        justify-content: space-between;
                        color:#666666;
                        font: {
                            family : 'Open Sans',sans-serif;
                        }
                        &-text{
                            line-height: 30px;
                            font: {
                                size : 15px;
                            }
                            span{
                                padding: {
                                    left: 8px;
                                }
                            }
                            .fa-ruler{
                                margin-left: 20px;
                            }
                        }
                        &-price{
                            padding: {
                                top:10px;
                            }
                            text-align: center;
                            p:first-child{
                                color:red;
                                font: {
                                    weight: bold;
                                    size : 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-post{
        background: #fff;
        a{
            text-decoration: none;
            color: #333;
        }
        a:hover{
            text-decoration: none;
        }
        border-bottom:1px solid #ddd;
        padding: {
            top:15px;
            left:15px;
            right: 15px;
        }
        &-title{
            @include title();
            padding-bottom:20px ;
        }
        &-content{
            padding: {
                top:15px;
                bottom:15px;
            }
            display: flex;
            &:nth-child(5){
                border-bottom: none;
            }
            &__post-image{
                flex: 1;
                img{
                    width: 100%;
                }
            }
            &__post-title{
                font-family: 'Open Sans',sans-serif;
                flex: 2;
                padding-left: 10px;
                h5{
                    margin-top: 0;
                }
                &__info{
                    display: flex;
                    justify-content: space-between;
                    i{
                        margin-right: 5px;
                    }
                }
            }
            border: {
                bottom:1px solid #CDCDCD;
            }
            &-user {
                display: flex;
                img{
                    border-radius: 50px;
                    border:1px solid #eee;
                }
                h5{
                    padding: {
                        left: 30px;
                    }
                    line-height: 18px;
                    font: {
                        family: 'Open Sans', sans-serif;
                        weight : bold;
                        size : 18px;
                    }
                }
            }
            &-nd{
                font: {
                    family: 'Open Sans', sans-serif;
                    size : 16px;
                }
                padding: {
                    top: 10px;
                    right: 10px;
                    left: 10px;
                }
            }
        }
    }
    &-detail{  
        &-report{
            margin-top: 10px;
        }
        &-relate{
            font-family: 'Open Sans',sans-serif;
            margin-top: 10px;
            .comment-wrapper{
                a{
                    text-decoration: none;
                    color: #333;
                    line-height: 20px;
                }
                a:hover{
                    text-decoration: none;
                }
            }
            &-box{
                border: 1px solid #eee;
                border-radius: 5px;
                margin-bottom: 10px;
                padding:10px;
                h5{
                    margin: 0;
                }
                &-image{
                    margin-bottom: 5px;
                    img{
                        width: 100%;
                        height: 150px;
                    }
                }
            }
        }
        &-df{
            background-color: #fff;
            padding: {
                top:10px;
                left: 10px;
                right: 10px;
            }
            &-comment{
                h4{
                    font: {
                        family: 'Montserrat', sans-serif;
                        weight:bold;
                        size: 20px;
                    }
                    border-radius: 8px;
                    margin: {
                        top:15px;
                    }
                    background-color: #F6F7F9;
                    padding: {
                        top:10px;
                        left:10px;
                        bottom: 10px;
                    }
                    i{
                        padding : {
                            right: 10px;
                        }
                    }
                }
                .comment-wrapper{
                    margin-right: 10px;
                    .checked{
                        color: orange;;
                    }
                    
                }
                .comment-wrapper .panel-body {
                    max-height:650px;
                    overflow:auto;
                }
                
                .comment-wrapper .media-list .media img {
                    width:64px;
                    height:64px;
                    border:2px solid #e5e7e8;
                }
                
                .comment-wrapper .media-list .media {
                    border-bottom:1px dashed #efefef;
                    margin-bottom:25px;
                }
                .bown{
                    display: flex;
                }
                .rating {
                    display: inline-block;
                    position: relative;
                    height: 50px;
                    line-height: 50px;
                    font-size: 20px;
                    top: -15px;
                    left: 10px;
                  }
                  
                  .rating label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    cursor: pointer;
                  }
                  
                  .rating label:last-child {
                    position: static;
                  }
                  
                  .rating label:nth-child(1) {
                    z-index: 5;
                  }
                  
                  .rating label:nth-child(2) {
                    z-index: 4;
                  }
                  
                  .rating label:nth-child(3) {
                    z-index: 3;
                  }
                  
                  .rating label:nth-child(4) {
                    z-index: 2;
                  }
                  
                  .rating label:nth-child(5) {
                    z-index: 1;
                  }
                  
                  .rating label input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                  }
                  
                  .rating label .icon {
                    float: left;
                    color: transparent;
                  }
                  
                  .rating label:last-child .icon {
                    color: #000;
                  }
                  
                  .rating:not(:hover) label input:checked ~ .icon,
                  .rating:hover label:hover input ~ .icon {
                    color: #09f;
                  }
                  
                  .rating label input:focus:not(:checked) ~ .icon:last-child {
                    color: #000;
                    text-shadow: 0 0 5px #09f;
                  }
            }
            &-image{
                h4{
                    font: {
                        family: 'Montserrat', sans-serif;
                        weight:bold;
                        size: 20px;
                    }
                    border-radius: 8px;
                    margin: {
                        top:15px;
                    }
                    background-color: #F6F7F9;
                    padding: {
                        top:10px;
                        left:10px;
                        bottom: 10px;
                    }
                    i{
                        padding : {
                            right: 10px;
                        }
                    }
                }
                #carousel {
                    margin-top: 0px;
                    .item{
                        img{
                            width: 98%;
                            height: 500px;
                        }
                    }
                }
                .item .thumb {
                    width: 25%;
                    cursor: pointer;
                    float: left;
                }
                .item .thumb img, .item img {
                    width: 100%;	
                    height: 120px;
                    
                }
                #thumbcarousel{
                    width: 98%;
                }
            }
            &-title{
                display: flex;
                justify-content: space-between;
                &__view{
                    margin-right: 10px;
                }
            }
            &-map{
                padding: {
                    left: 20px;
                    right:20px;
                }
                img{
                    width: 100%;
                }
            }
            &-utility{
                h4{
                    font: {
                        family: 'Montserrat', sans-serif;
                        weight:bold;
                        size: 20px;
                    }
                    border-radius: 8px;
                    margin: {
                        top:15px;
                    }
                    background-color: #F6F7F9;
                    padding: {
                        top:10px;
                        left:10px;
                        bottom: 10px;
                    }
                    i{
                        padding : {
                            right: 10px;
                        }
                    }
                }
                .col-md-4 {
                    p{
                        font-size: 16px;
                        color: #333333;
                        letter-spacing: 0;
                        line-height: 24px;
                        margin-left: 8px;
                        i{
                            color: rgb(102, 102, 102);
                            font-size: 24px;
                            margin-right: 12px;
                        }
                    }
                }
            }
            &-info{
                h4{
                    font: {
                        family: 'Montserrat', sans-serif;
                        weight:bold;
                        size: 20px;
                    }
                    border-radius: 8px;
                    margin: {
                        top:15px;
                    }
                    background-color: #F6F7F9;
                    padding: {
                        top:10px;
                        left:10px;
                        bottom: 10px;
                    }
                    i{
                        padding : {
                            right: 10px;
                        }
                    }
                }
                .col-md-3 {
                    margin: {
                        bottom: 15px;
                    }
                    p:first-child{
                        margin: 0;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        color: #666666;
                        letter-spacing: 0;
                        text-transform: uppercase;
                    }
                    p:last-child{
                        margin: 0;
                        font-size: 16px;
                        color: #333333;
                        letter-spacing: 0;
                        line-height: 24px;
                    }
                }
                .col-md-12 {
                    p:first-child{
                        margin: 0;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        color: #666666;
                        letter-spacing: 0;
                        text-transform: uppercase;
                    }
                    p:last-child{
                        margin: 0;
                        font-size: 16px;
                        color: #333333;
                        letter-spacing: 0;
                        line-height: 24px;
                    }
                }
            }
            &-description{
                h4{
                    font: {
                        family: 'Montserrat', sans-serif;
                        weight:bold;
                        size: 20px;
                    }
                    border-radius: 8px;
                    margin: {
                        top:15px;
                    }
                    background-color: #F6F7F9;
                    padding: {
                        top:10px;
                        left:10px;
                        bottom: 10px;
                    }
                    i{
                        padding : {
                            right: 10px;
                        }
                    }
                }
            }
        }
        &-us{
            background-color: #fff;
           
            &-user{
                img{
                    margin: 0px auto;
                    border-radius: 50%;
                    margin: 14px 12px;
                }
                .col-md-8{
                    padding-right: 0px;
                    h5{
                        font: {
                            family : 'Montserrat', sans-serif;
                            weight:bold;
                        }
                    }
                    p{
                        font: {
                            family : 'Open Sans', sans-serif;
                        }
                       
                    }
                }
                .col-md-12{
                    a{
                        font-weight: bold !important;
                        font-size: 14px;
                        color: #fff;
                        background-color: #003352;
                        border-color: #003352;
                        display: block;
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;
                        display: inline-block;
                        margin-bottom: 0;
                        font-weight: 400;
                        text-align: center;
                        cursor: pointer;
                        background-image: none;
                        border: 1px solid transparent;
                        white-space: nowrap;
                        padding: 6px 12px;
                        font-size: 14px;
                        line-height: 1.42857143;
                        border-radius: 4px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }
                }
            }
        }
    }
}
.create-room{
    &__info-user{
        font: {
            family: 'Open Sans', sans-serif;
            size : 17px;
        }
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        background-color: #fff;
        box-shadow: 0 0 15px 5px #ccc;
        padding : {
            left: 15px;
            top:15px;
            right: 15px;
            bottom:15px;
        }
    }
    &__lable{
        &__tag{
            background-color: #007bff;
            color: #fff;
            padding: 8px;         
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            h3{
                font: {
                    family: 'Montserrat', sans-serif;
                    size : 16px;
                }
                margin:0px;
            }
        }
        &__form{
            border: 1px solid #eee;
            background-color: #fff;
            @include padd();
            #map-canvas{
                width: 96% !important;
                margin-left: 15px;
            }
            .utility{
                display: flex;
                flex-wrap: wrap;
            } 
            /* The container */
            .check {
                width: 33.3333%;
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 15px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            
            /* Hide the browser's default checkbox */
            .check input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            
            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
            }
            
            /* On mouse-over, add a grey background color */
            .check:hover input ~ .checkmark {
                background-color: #ccc;
            }
            
            /* When the checkbox is checked, add a blue background */
            .check input:checked ~ .checkmark {
                background-color: #2196F3;
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            
            /* Show the checkmark when checked */
            .check input:checked ~ .checkmark:after {
                display: block;
            }
            
            /* Style the checkmark/indicator */
            .check .checkmark:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            input[type=file]{
                display: none;
            }
            #choose{
                padding: 5px;
                cursor: pointer;
                color: #fff;
                background-color: #17a2b8;
                border-color: #17a2b8;
            }
        }
    }
    
}