header{
    .top{
        background-color: #20274d;
        height: 40px ;
        position: fixed;
        width: 100%;
        z-index: 999;
        &-ref{
            align-items: center;
            line-height: 40px;
            a{
                font: {
                    family: 'Open Sans', sans-serif;
                    size: 16px;
                }
                color:#fff;
                text-decoration: none;
                &:hover{
                    color:#fff;
                    text-decoration: none;
                }
            }
        }
    }
    .menu-mobile {
        background-color: #fff;
        position: fixed;
        top: 40px;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        padding: {
            top:10px;
            bottom:10px;
        }
    }
    .menu-mobile-form{
        input[type=text]{
            position: relative;
            border:1px solid #eee;
            padding: {
                left: 20px;
            }
            font: {
                family: 'Open Sans', sans-serif;
                size:18px;
            }
            height: 50px;
            border-radius: 50px;
            width: 100%;
            &:focus{
                border: none;
                outline: none;
            }
        }
        button{
            position: absolute;
            right: 18px;
            height: 45px;
            border-radius: 50px;
            width: 45px;
            border: none;
            bottom: 17px;
            background-color: #4877F8;
            .fa-search{
                color:#fff;
                font-size: 18px;
            }
        }
    }
    .mobie{
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }
}