<template>
    <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="">
                    <img src="images/logo3.png" alt="">
                </a>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-4">
                <div id="register">
                    <h5>Đăng ký nhận thông tin mới nhất</h5>
                    <form action="" method="">
                        <input type="text" name="email" placeholder="Nhập thông tin email">
                        <input type="submit" value="Đăng ký">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Copyright © Phạm Văn Tuấn - 2020 All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
</template>

<script>
    export default {
        name : 'Footer'
    }
</script>

<style lang="scss" scoped>

</style>